[tool.ruff]
line-length = 120
lint.select = [
  "A",
  "ARG",
  "B",
  "C",
  "DTZ",
  "E",
  "EM",
  "F",
  "FBT",
  "I",
  "ICN",
  "ISC",
  "N",
  "PLC",
  "PLE",
  "PLR",
  "PLW",
  "Q",
  "RUF",
  "S",
  "T",
  "TID",
  "UP",
  "W",
  "YTT",
]
lint.ignore = [
  "A003", "ARG002",
  "PLR2004", "E501",
  # Allow non-abstract empty methods in abstract base classes
  "B027",
  # Allow boolean positional values in function calls, like `dict.get(... True)`
  "FBT001", "FBT002", "FBT003",
  # Ignore checks for possible passwords
  "S105", "S106", "S107",
  # Ignore complexity
  "C901", "PLR0911", "PLR0912", "PLR0913", "PLR0915",
  # Ignore assert False
  "B011",
  "S311", "S108", "RUF012", "EM101",
  # May cause conflicts with formatter:
  "ISC001",
]

[tool.ruff.format]
exclude = ["static"]

[tool.djlint]
ignore = "H006,H021"

# pyproject.toml
[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra --cov=. --cov-report term-missing:skip-covered"
python_files = "tests.py"
DJANGO_SETTINGS_MODULE = "fedidevs.settings"

[tool.coverage.run]
plugins = ["django_coverage_plugin"]
omit = [".venv/*", "staticfiles/*", "manage.py", "requirements.txt", "fedidevs/wsgi.py", "fedidevs/asgi.py"]
