# Prod
django
django-environ
gunicorn
heroicons[django]
httpx
schedule
sentry-sdk
setproctitle
whitenoise
# Dev
black
django-browser-reload
django-coverage-plugin
django-debug-toolbar
django-rich
django-tui
djlint
flakytest
mypy
pip-tools
pytest-cov
pytest-django
rich
ruff
