# Prod
django
django-environ
django-tailwind
gunicorn
heroicons[django]
httpx
psycopg2-binary
schedule
sentry-sdk
setproctitle
whitenoise
# Dev
django-browser-reload
django-coverage-plugin
django-debug-toolbar
django-rich
django-tui
djlint
flakytest
mypy
pip-tools
pytest-cov
pytest-django
rich
ruff
pywatchman
