{% load account_extras %}
{% load static %}
{% load humanize %}
<div class="gap-12 columns-1 xl:columns-3 lg:columns-2">
    {% for account in accounts %}
        <div class="w-full p-3 mb-12 bg-white shadow-md rounded-2xl dark:bg-gray-800 break-inside-avoid-column">
            <div class="relative rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 min-h-24 -z-0">
                <div class="absolute flex flex-row gap-4 p-3 bg-white rounded-bl-xl dark:bg-gray-800 -top-2 -right-2">
                    {% for language in account.languages %}
                        <a href="{% url language.code %}{% query_string %}"
                           class="text-sm text-gray-500">
                            <img src="{% static language.image %}"
                                 alt="{{ language.code }}"
                                 loading="lazy"
                                 class="w-auto h-5" />
                        </a>
                    {% endfor %}
                </div>
                <div class="overflow-hidden rounded-lg max-h-64">
                    <img loading="lazy"
                         src="{{ account.header }}"
                         alt="Header Image"
                         class="object-cover" />
                </div>
                <img loading="lazy"
                     class="absolute bottom-0 translate-y-1/2 bg-white rounded-full outline-8 outline outline-white dark:outline-gray-800 left-4 dark:bg-gray-800 -outline-offset-1"
                     src="{{ account.avatar }}"
                     alt="{{ account.login }}"
                     width="80"
                     height="80" />
                {% follow_button user account %}
            </div>
            <div class="p-4 pt-16">
                <div class="relative">
                    <h5 class="mb-1 text-2xl font-semibold flex gap-2 [&>img]:max-w-8">{% render_emojis account.name account.emojis %}</h5>
                    {% if selected_instance and selected_instance != account.source %}
                        <a href="https://{% firstof selected_instance %}/@{{ account.username }}@{{ account.source }}"
                           class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2"
                           target="_blank">@{{ account.username }}</a>
                    {% else %}
                        <a href="https://{{ account.source }}/@{{ account.username }}"
                           target="_blank"
                           class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2">
                            @{{ account.username }}
                        </a>
                    {% endif %}
                </div>
                <div class="mt-6 mb-4 font-normal text-gray-700 dark:text-gray-400 prose dark:prose-invert text-balance break-words [&_img]:max-h-4 [&_img]:inline-block [&_img]:m-0 line-clamp-6">
                    {% render_emojis account.note account.emojis %}
                </div>
                <div class="grid grid-cols-3 gap-2 pt-4 mt-8 text-sm text-gray-500 border-t divide-x dark:text-gray-500 border-color-gray-700 dark:border-gray-700 divide-color-gray-700 dark:divide-gray-700">
                    <div class="flex flex-col gap-0 text-center" title="Last status">
                        <span class="text-xs">Last seen</span>
                        <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.last_status_at_cached }}</span>
                    </div>
                    <div class="flex flex-col gap-0 text-center" title="Statuses">
                        <span class="text-xs">Posts</span>
                        <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.statuses_count | intcomma }}</span>
                    </div>
                    <div class="flex flex-col gap-0 text-center" title="Followers">
                        <span class="text-xs">Followers</span>
                        <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.followers_count | intcomma }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div {% if accounts.has_next %} class="mt-12" hx-get="{% query_string page=accounts.next_page_number %}" hx-trigger="intersect once" hx-swap="afterend" {% endif %}>
</div>
