{% load account_extras %}
{% load static %}
{% load humanize %}
<section class="mb-8 mr-2 flex gap-4 justify-end">
    {% if selected_lang_or_framework %}
        <a href="{% url "index" %}{% query_string %}"
           class="inline-flex text-sm gap-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800 bg-white shadow-sm dark:bg-gray-800 justify-between items-center px-3 py-1.5"
           role="button">
            <span class="flex gap-2">
                <img src="{% static selected_lang_or_framework.image %}"
                     alt="{{ selected_lang_or_framework.code }}"
                     loading="lazy"
                     class="object-contain w-4" />
                <span class="leading-loose">
                    {{ selected_lang_or_framework.name }} <small class="text-xs"></small>
                </span>
            </span>
            <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
        </a>
    {% endif %}
    <div class="inline-flex rounded-md shadow-sm" role="group">
        <button id="orderByDropdown"
                data-dropdown-toggle="orderByMenu"
                class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-s-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                type="button">
            Order by: {{ display_strings.order }}
            <svg class="w-2.5 h-2.5 ms-2.5"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="orderByMenu"
             class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
             data-popper-reference-hidden=""
             data-popper-escaped=""
             data-popper-placement="top"
             style="position: absolute;
                    inset: auto auto 0px 0px;
                    margin: 0px;
                    transform: translate3d(522.5px, 3847.5px, 0px)">
            <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="orderByDropdown">
                <li>
                    <a href="{% query_string o='followers' %}"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Followers</a>
                </li>
                <li>
                    <a href="{% query_string o='statuses' %}"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Posts</a>
                </li>
                <li>
                    <a href="{% query_string o='last_status_at' %}"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Date of Last Post</a>
                </li>
            </ul>
        </div>
        <button id="dropdownRadioButton"
                data-dropdown-toggle="dropdownRadio"
                class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-e-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                type="button">
            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 me-3"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 20 20">
                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z" />
            </svg>
            {{ display_strings.period }}
            <svg class="w-2.5 h-2.5 ms-2.5"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownRadio"
             class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
             data-popper-reference-hidden=""
             data-popper-escaped=""
             data-popper-placement="top"
             style="position: absolute;
                    inset: auto auto 0px 0px;
                    margin: 0px;
                    transform: translate3d(522.5px, 3847.5px, 0px)">
            {% if order != '-last_status_at' %}
                <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownRadioButton">
                    <li>
                        <a href="{% query_string p='daily' %}"
                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last day</a>
                    </li>
                    <li>
                        <a href="{% query_string p='weekly' %}"
                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
                    </li>
                    <li>
                        <a href="{% query_string p='monthly' %}"
                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
                    </li>
                    <li>
                        <a href="{% query_string p='all' %}"
                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All time</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<div class="gap-12 columns-1 xl:columns-3 lg:columns-2">
    {% for account in accounts %}
        <div class="w-full p-3 mb-12 bg-white shadow-md rounded-2xl dark:bg-gray-800 break-inside-avoid-column">
            <div class="relative rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 min-h-24 -z-0">
                <div class="absolute flex flex-row gap-4 p-3 bg-white rounded-bl-xl dark:bg-gray-800 -top-2 -right-2">
                    {% for language in account.languages %}
                        <a href="{% url language.code %}{% query_string %}"
                           class="text-sm text-gray-500">
                            <img src="{% static language.image %}"
                                 alt="{{ language.code }}"
                                 loading="lazy"
                                 class="w-auto h-5" />
                        </a>
                    {% endfor %}
                </div>
                <div class="overflow-hidden rounded-lg max-h-64">
                    <img loading="lazy"
                         src="{{ account.header }}"
                         alt="Header Image"
                         class="object-cover" />
                </div>
                <img loading="lazy"
                     class="absolute bottom-0 translate-y-1/2 bg-white rounded-full outline-8 outline outline-white dark:outline-gray-800 left-4 dark:bg-gray-800 -outline-offset-1"
                     src="{{ account.avatar }}"
                     alt="{{ account.login }}"
                     width="80"
                     height="80" />
                {% follow_button user account %}
            </div>
            <div class="p-4 pt-16">
                <div class="relative">
                    <h5 class="mb-1 text-2xl font-semibold flex gap-2 [&>img]:max-w-8">{% render_emojis account.name account.emojis %}</h5>
                    {% if selected_instance and selected_instance != account.source %}
                        <a href="https://{% firstof selected_instance %}/@{{ account.username }}@{{ account.source }}"
                           class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2"
                           target="_blank">@{{ account.username }}@{{ account.source }}</a>
                    {% else %}
                        <a href="https://{{ account.source }}/@{{ account.username }}"
                           target="_blank"
                           class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2">
                            @{{ account.username }}@{{ account.source }}
                        </a>
                    {% endif %}
                </div>
                <div class="mt-6 mb-4 font-normal text-gray-700 dark:text-gray-400 prose dark:prose-invert text-balance break-words [&_img]:max-h-4 [&_img]:inline-block [&_img]:m-0 line-clamp-6">
                    {% render_emojis account.note account.emojis %}
                </div>
                <div class="grid grid-cols-3 gap-2 pt-4 mt-8 text-sm text-gray-500 border-t divide-x dark:text-gray-500 border-color-gray-700 dark:border-gray-700 divide-color-gray-700 dark:divide-gray-700">
                    <div class="flex flex-col gap-0 text-center" title="Last status">
                        <span class="text-xs">Last seen</span>
                        <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.last_status_at_cached }}</span>
                    </div>
                    <div class="flex flex-col gap-0 text-center" title="Statuses">
                        <span class="text-xs">Posts</span>
                        <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">
                            {% if sort_order == '-accountlookup__daily_statuses_count' %}
                                <span class="text-green-600">▲ {{ account.accountlookup.daily_statuses_count | intcomma }}</span>
                            {% elif sort_order == '-accountlookup__weekly_statuses_count' %}
                                <span class="text-green-600">▲ {{ account.accountlookup.weekly_statuses_count | intcomma }}</span>
                            {% elif sort_order == '-accountlookup__monthly_statuses_count' %}
                                <span class="text-green-600">▲ {{ account.accountlookup.monthly_statuses_count | intcomma }}</span>
                            {% else %}
                                <span>{{ account.accountlookup.statuses_count | intcomma }}</span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="flex flex-col gap-0 text-center" title="Followers">
                        <span class="text-xs">Followers</span>
                        <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">
                            {% if sort_order == '-accountlookup__daily_followers_count' %}
                                <span class="text-green-600">▲ {{ account.accountlookup.daily_followers_count | intcomma }}</span>
                            {% elif sort_order == '-accountlookup__weekly_followers_count' %}
                                <span class="text-green-600">▲ {{ account.accountlookup.weekly_followers_count | intcomma }}</span>
                            {% elif sort_order == '-accountlookup__monthly_followers_count' %}
                                <span class="text-green-600">▲ {{ account.accountlookup.monthly_followers_count | intcomma }}</span>
                            {% else %}
                                <span>{{ account.accountlookup.followers_count | intcomma }}</span>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if accounts.has_next %}
    <div class="mt-12"
         hx-get="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url 'index' %}{% endif %}{% query_string page=accounts.next_page_number %} "
         hx-trigger="intersect once"
         hx-swap="afterend"></div>
{% endif %}
