{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% load humanize %}
{% block head %}
    {% if accounts.has_previous %}<meta name="robots" content="none">{% endif %}
{% endblock head %}
{% block content %}
    {% include "v2/accounts.html" %}
{% endblock content %}
{% block sidebar %}
    <header>
        <blockquote>
            <p class="text-xl italic font-medium">
                Discover <mark>{{ accounts_count }}</mark> superb devs from across the <a class="underline" href="{% url 'developers-on-mastodon' %}">Fediverse</a>!
            </p>
        </blockquote>
        <h1 class="mb-8 mt-8 text-xl font-semibold">Filter By</h1>
        <form method="get"
              role="group"
              class="mb-8"
              action="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url 'index' %}{% endif %}">
            <label for="default-search"
                   class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Go
                </button>
                <input type="search"
                       name="q"
                       class="block w-full p-4 pr-16 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Filter by name, bio, or instance..."
                       value="{{ query }}" />
                <input type="hidden" name="o" value="{{ order }}" />
            </div>
        </form>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Programming Language
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4 text-small ">
                {% for language in languages %}
                    <li class="m-1 inline-block">
                        <a href="{% if selected_lang.code != language.code %}{% url language.code %}{% else %}{% url "index" %}{% endif %}{% query_string %}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800 {% if selected_lang.code == language.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static language.image %}"
                                     alt="{{ language.code }}"
                                     loading="lazy"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ language.name }} <small class="text-xs">({{ language.count }})</small>
                                </span>
                            </span>
                            {% if selected_lang.code == language.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Frameworks, Libraries, and others
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4">
                {% for framework in frameworks %}
                    <li class="m-1 inline-block">
                        <a href="{% if selected_framework.code != framework.code %}{% url framework.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o={{ order }}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800  {% if selected_framework.code == framework.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static framework.image %}"
                                     alt="{{ framework.code }}"
                                     loading="lazy"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ framework.name }} <small class="text-xs">({{ framework.count }})</small>
                                </span>
                            </span>
                            {% if selected_framework.code == framework.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Order By
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <input type="hidden" name="o" value="{{ order }}" />
            <ul class="px-4 -mx-4 overflow-hidden overflow-y-auto text-small max-h-64">
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% query_string o='-followers_count' %}">
                        {% if order == '-followers_count' %}
                            <strong>Followers Count</strong>
                        {% else %}
                            Followers Count
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% query_string o='-last_status_at' %}">
                        {% if order == '-last_status_at' %}
                            <strong>Post Status</strong>
                        {% else %}
                            Last Post
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% query_string o='-statuses_count' %}">
                        {% if order == '-statuses_count' %}
                            <strong>Post Count</strong>
                        {% else %}
                            Post Count
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% query_string o='url' %}">
                        {% if order == 'url' %}
                            <strong>Source Instance</strong>
                        {% else %}
                            Source Instance
                        {% endif %}
                    </a>
                </li>
            </ul>
        </section>
    </header>
{% endblock sidebar %}
