{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% load humanize %}
{% block head %}
    {% if accounts.has_previous %}<meta name="robots" content="none">{% endif %}
{% endblock head %}
{% block content %}
    <div class="gap-12 columns-1 xl:columns-3 lg:columns-2">
        {% for account in accounts %}
            <div class="w-full p-3 mb-12 bg-white shadow-md rounded-2xl dark:bg-gray-800 break-inside-avoid-column">
                <div class="relative rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 min-h-24 -z-0">
                    <div class="absolute flex flex-row gap-4 p-3 bg-white rounded-bl-xl dark:bg-gray-800 -top-2 -right-2">
                        {% for language in account.languages %}
                            <a href="{% url language.code %}?q={{ query }}&o={{ order }}"
                               class="text-sm text-gray-500">
                                <img src="{% static language.image %}"
                                     alt="{{ language.code }}"
                                     class="w-auto h-5" />
                            </a>
                        {% endfor %}
                    </div>
                    <div class="overflow-hidden rounded-lg max-h-64">
                        <img src="{{ account.header }}" alt="Header Image" class="object-cover" />
                    </div>
                    <img class="absolute bottom-0 translate-y-1/2 bg-white rounded-full outline-8 outline outline-white dark:outline-gray-800 left-4 dark:bg-gray-800 -outline-offset-1"
                         src="{{ account.avatar }}"
                         alt="{{ account.login }}"
                         width="80"
                         height="80" />
                    {% follow_button user account %}
                </div>
                <div class="p-4 pt-16">
                    <div class="relative">
                        <h5 class="mb-1 text-2xl font-semibold text-gray-900 dark:text-white flex gap-2 [&>img]:max-w-8">
                            {% render_emojis account.display_name account.emojis %}
                        </h5>
                        {% if selected_instance and selected_instance != account.source %}
                            <a href="https://{% firstof selected_instance %}/@{{ account.username }}@{{ account.source }}"
                               class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2"
                               target="_blank">@{{ account.username }}</a>
                        {% else %}
                            <a href="https://{{ account.source }}/@{{ account.username }}"
                               target="_blank"
                               class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2">
                                @{{ account.username }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="mt-6 mb-4 font-normal text-gray-700 dark:text-gray-400 prose dark:prose-invert text-balance break-words [&_img]:max-h-4 [&_img]:inline-block [&_img]:m-0 line-clamp-6">
                        {% render_emojis account.note account.emojis %}
                    </div>
                    <div class="grid grid-cols-3 gap-2 pt-4 mt-8 text-sm text-gray-500 border-t divide-x dark:text-gray-500 border-color-gray-700 dark:border-gray-700 divide-color-gray-700 dark:divide-gray-700">
                        <div class="flex flex-col gap-0 text-center" title="Last status">
                            <span class="text-xs">Last seen</span>
                            <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.last_status_at_cached }}</span>
                        </div>
                        <div class="flex flex-col gap-0 text-center" title="Statuses">
                            <span class="text-xs">Posts</span>
                            <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.statuses_count | intcomma }}</span>
                        </div>
                        <div class="flex flex-col gap-0 text-center" title="Followers">
                            <span class="text-xs">Followers</span>
                            <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ account.followers_count | intcomma }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer class="mt-32 mb-16 text-center">
        <nav aria-label="Pagination">
            <ul class="inline-flex h-10 -space-x-px text-base">
                {% if accounts.has_previous %}
                    <li>
                        <a href="?page={{ accounts.previous_page_number }}&q={{ query }}&o={{ order }}"
                           class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white ms-0 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            Previous
                        </a>
                    </li>
                {% endif %}
                {% if accounts %}
                    <li>
                        <span class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}
                        </span>
                    </li>
                {% endif %}
                {% if accounts.has_next %}
                    <li>
                        <a href="?page={{ accounts.next_page_number }}&q={{ query }}&o={{ order }}"
                           class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            Next
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </footer>
{% endblock content %}
{% block sidebar %}
    <header>
        <h1 class="mb-8 text-xl font-semibold">Filter By</h1>
        <form method="get"
              role="group"
              class="mb-8"
              action="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url 'index' %}{% endif %}">
            <label for="default-search"
                   class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Go
                </button>
                <input type="search"
                       name="q"
                       class="block w-full p-4 pr-16 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Filter by name, bio, or instance..."
                       value="{{ query }}" />
            </div>
        </form>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Programming Language
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4 text-small ">
                {% for language in languages %}
                    <li class="mb-2 inline">
                        <a href="{% if selected_lang.code != language.code %}{% url language.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o={{ order }}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md {% if selected_lang.code == language.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static language.image %}"
                                     alt="{{ language.code }}"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ language.name }} <small class="text-xs">({{ language.count }})</small>
                                </span>
                            </span>
                            {% if selected_lang.code == language.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Frameworks, Libraries, and others
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4">
                {% for framework in frameworks %}
                    <li class="mb-2">
                        <a href="{% if selected_framework.code != framework.code %}{% url framework.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o={{ order }}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md {% if selected_framework.code == framework.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static framework.image %}"
                                     alt="{{ framework.code }}"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ framework.name }} <small class="text-xs">({{ framework.count }})</small>
                                </span>
                            </span>
                            {% if selected_framework.code == framework.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Order By
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <input type="hidden" name="o" value="{{ order }}" />
            <ul class="px-4 -mx-4 overflow-hidden overflow-y-auto text-small max-h-64">
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o=-followers_count">
                        {% if order == '-followers_count' %}
                            <strong>Followers Count</strong>
                        {% else %}
                            Followers Count
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o=-last_status_at">
                        {% if order == '-last_status_at' %}
                            <strong>Post Status</strong>
                        {% else %}
                            Last Post
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o=-statuses_count">
                        {% if order == '-statuses_count' %}
                            <strong>Post Count</strong>
                        {% else %}
                            Post Count
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}?q={{ query }}&o=url">
                        {% if order == 'url' %}
                            <strong>Source Instance</strong>
                        {% else %}
                            Source Instance
                        {% endif %}
                    </a>
                </li>
            </ul>
        </section>
    </header>
{% endblock sidebar %}
