{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% load humanize %}
{% block head %}
    {% if accounts.has_previous %}<meta name="robots" content="none">{% endif %}
{% endblock head %}
{% block content %}
    <main class="flex justify-center">
        <article>
            <h1 class="prose-xl dark:prose-invert md:hidden mb-4 break-words text-pretty hyphens-auto">
                {{ page_subheader | safe }}
            </h1>
            <section class="mb-8 flex flex-wrap gap-4 justify-end">
                {# djlint:off #}
                {% if follower_type == 'best' %}
                    <c-pretty-button url="{% if selected_lang_or_framework %}{% url 'index' selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% querystring f=None %}" color="purple" :xmark="True">
                    Best
                    </c-pretty-button>
                {% endif %}
                {% if follower_type == 'popular' %}
                    <c-pretty-button url="{% if selected_lang_or_framework %}{% url 'index' selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% querystring f=None %}" color="pink" :xmark="True">
                    Popular
                    </c-pretty-button>
                {% endif %}
                {% if account_type == 'human' %}
                    <c-pretty-button url="{% if selected_lang_or_framework %}{% url 'index' selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% querystring t=None %}" color="orange" :xmark="True">
                    Human
                    </c-pretty-button>
                {% endif %}
                {% if account_type == 'project' %}
                    <c-pretty-button url="{% if selected_lang_or_framework %}{% url 'index' selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% querystring t=None %}" color="cyan" :xmark="True">
                    Project
                    </c-pretty-button>
                {% endif %}
                {% if posted == 'recently' %}
                    <c-pretty-button url="{% if selected_lang_or_framework %}{% url 'index' selected_lang_or_framework.code %}{% else %}{% url "index" %}{% endif %}{% querystring post=None %}" color="green" :xmark="True">
                    Recently posted
                    </c-pretty-button>
                {% endif %}
                {# djlint:on #}
                {% if selected_lang_or_framework %}
                    <a href="{% url "index" %}{% querystring %}"
                       class="inline-flex text-sm gap-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800 bg-white shadow-sm dark:bg-gray-800 justify-between items-center px-3 py-1.5"
                       role="button">
                        <span class="flex gap-2">
                            <img src="{% static selected_lang_or_framework.image %}"
                                 alt="{{ selected_lang_or_framework.code }}"
                                 loading="lazy"
                                 class="object-contain w-4" />
                            <span class="leading-loose">
                                {{ selected_lang_or_framework.name }} <small class="text-xs"></small>
                            </span>
                        </span>
                        <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                    </a>
                {% endif %}
                <div class="inline-flex rounded-md shadow-sm" role="group">
                    <button id="orderByDropdown"
                            data-dropdown-toggle="orderByMenu"
                            class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium {% if show_period_dropdown %} rounded-s-lg {% else %} rounded-lg {% endif %} text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                            type="button">
                        Order by: {{ display_strings.order }}
                        <svg class="w-2.5 h-2.5 ms-2.5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="orderByMenu"
                         class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                         data-popper-reference-hidden=""
                         data-popper-escaped=""
                         data-popper-placement="top"
                         style="position: absolute;
                                inset: auto auto 0px 0px;
                                margin: 0px;
                                transform: translate3d(522.5px, 3847.5px, 0px)">
                        <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="orderByDropdown">
                            <li>
                                <a href="{% querystring o='followers' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Followers</a>
                            </li>
                            <li>
                                <a href="{% querystring o='following' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Following</a>
                            </li>
                            <li>
                                <a href="{% querystring o='statuses' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Posts</a>
                            </li>
                            <li>
                                <a href="{% querystring o='last_status_at' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Date of Last Post</a>
                            </li>
                        </ul>
                    </div>
                    {% if show_period_dropdown %}
                        <button id="dropdownRadioButton"
                                data-dropdown-toggle="dropdownRadio"
                                class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-e-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                type="button">
                            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 me-3"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z" />
                            </svg>
                            {{ display_strings.period }}
                            <svg class="w-2.5 h-2.5 ms-2.5"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownRadio"
                             class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                             data-popper-reference-hidden=""
                             data-popper-escaped=""
                             data-popper-placement="top"
                             style="position: absolute;
                                    inset: auto auto 0px 0px;
                                    margin: 0px;
                                    transform: translate3d(522.5px, 3847.5px, 0px)">
                            {% if order != '-last_status_at' %}
                                <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownRadioButton">
                                    <li>
                                        <a href="{% querystring p='daily' %}"
                                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last day</a>
                                    </li>
                                    <li>
                                        <a href="{% querystring p='weekly' %}"
                                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
                                    </li>
                                    <li>
                                        <a href="{% querystring p='monthly' %}"
                                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
                                    </li>
                                    <li>
                                        <a href="{% querystring p='all' %}"
                                           class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All time</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </section>
            {% include "v2/accounts.html" %}
        </article>
    </main>
{% endblock content %}
{% block sidebar %}
    <header>
        <h1 class="prose-xl break-words text-pretty hyphens-auto dark:prose-invert hidden md:block">
            {{ page_subheader | safe }}
        </h1>
        <section class="mb-8 mt-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">Smart Filters ✨</h2>
            <ul class="px-4 -mx-4 text-small">
                <li class="me-2 mb-2 inline-block">
                    <a href="{% if follower_type == 'best' %}{% querystring f='' %}{% else %}{% querystring f='best' %}{% endif %}"
                       class="purple-to-blue-btn group">
                        <span class="relative p-2.5 transition-all ease-in duration-75 {% if follower_type != 'best' %}bg-white dark:bg-gray-900{% endif %} rounded-md group-hover:bg-opacity-0">
                            Best
                        </span>
                    </a>
                </li>
                <li class="me-2 mb-2 inline-block">
                    <a href="{% if follower_type == 'popular' %}{% querystring f='' %}{% else %}{% querystring f='popular' %}{% endif %}"
                       class="purple-to-pink-btn group">
                        <span class="relative p-2.5 transition-all ease-in duration-75 {% if follower_type != 'popular' %}bg-white dark:bg-gray-900{% endif %} rounded-md group-hover:bg-opacity-0">
                            Popular
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="px-4 -mx-4 text-small">
                <li class="me-2 mb-2 inline-block">
                    <a href="{% if account_type == 'human' %}{% querystring t='' %}{% else %}{% querystring t='human' %}{% endif %}"
                       class="pink-to-orange-btn group">
                        <span class="relative p-2.5 transition-all ease-in duration-75 {% if account_type != 'human' %}bg-white dark:bg-gray-900{% endif %} rounded-md group-hover:bg-opacity-0">
                            Human
                        </span>
                    </a>
                </li>
                <li class="me-2 mb-2 inline-block">
                    <a href="{% if account_type == 'project' %}{% querystring t='' %}{% else %}{% querystring t='project' %}{% endif %}"
                       class="cyan-to-blue-btn group">
                        <span class="relative p-2.5 transition-all ease-in duration-75 {% if account_type != 'project' %}bg-white dark:bg-gray-900{% endif %} rounded-md group-hover:bg-opacity-0">
                            Project
                        </span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="me-2 mb-2 inline-block">
                    <a href="{% if posted == 'recently' %}{% querystring post='' %}{% else %}{% querystring post='recently' %}{% endif %}"
                       class="green-to-blue-btn mb-2 group">
                        <span class="relative p-2.5 transition-all ease-in duration-75 {% if posted != 'recently' %}bg-white dark:bg-gray-900{% endif %} rounded-md group-hover:bg-opacity-0">
                            Recently posted
                        </span>
                    </a>
                </li>
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Programming Language
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4 text-small ">
                {% for language in languages %}
                    <li class="m-1 inline-block">
                        <a href="{% if selected_lang.code != language.code %}{% url 'index' language.code %}{% else %}{% url "index" %}{% endif %}{% querystring %}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800 {% if selected_lang.code == language.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static language.image %}"
                                     alt="{{ language.code }}"
                                     loading="lazy"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ language.name }} <small class="text-xs">({{ language.count }})</small>
                                </span>
                            </span>
                            {% if selected_lang.code == language.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Frameworks, Libraries, and others
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4">
                {% for framework in frameworks %}
                    <li class="m-1 inline-block">
                        <a href="{% if selected_framework.code != framework.code %}{% url 'index' framework.code %}{% else %}{% url "index" %}{% endif %}{% querystring %}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800  {% if selected_framework.code == framework.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static framework.image %}"
                                     alt="{{ framework.code }}"
                                     loading="lazy"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ framework.name }} <small class="text-xs">({{ framework.count }})</small>
                                </span>
                            </span>
                            {% if selected_framework.code == framework.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b pt-2">
            Filter by name bio or instance...
            <span class="hidden">{% heroicon_outline 'plus' %}</span>
            <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
        </h2>
        <form method="get"
              role="group"
              class="mb-8"
              action="{% if selected_lang_or_framework %}{% url 'index' selected_lang_or_framework.code %}{% else %}{% url 'index' %}{% endif %}">
            <label for="default-search"
                   class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Go
                </button>
                <input type="search"
                       name="q"
                       class="block w-full p-4 pr-16 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Filter by name, bio, or instance..."
                       value="{{ query }}" />
                <input type="hidden" name="o" value="{{ order }}" />
            </div>
        </form>
    </header>
{% endblock sidebar %}
