{% load compress %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
              rel="stylesheet">
        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}
        <meta name="keywords"
              content="fedidevs,mastodon,developers,developer,fediverse,discover,discover developers" />
        <title>{{ page_title }}</title>
        <meta name="description"
              content="{% if page_description %}{{ page_description }}{% else %}Discover amazing developers from across the fediverse.{% endif %}">
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fedidevs.com{{ page_url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page_title }}">
        <meta property="og:description"
              content="{% if page_description %}{{ page_description }}{% else %}Discover amazing developers from across the fediverse.{% endif %}">
        {% if page_image %}
            <meta property="og:image"
                  content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static page_image %}">
        {% endif %}
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="fedidevs.com">
        <meta property="twitter:url" content="https://fedidevs.com{{ page_url }}">
        <meta name="twitter:title" content="{{ page_title }}">
        <meta name="twitter:description"
              content="{% if page_description %}{{ page_description }}{% else %}Discover amazing developers from across the fediverse.{% endif %}">
        {% if page_image %}
            <meta name="twitter:image"
                  content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static page_image %}">
        {% endif %}
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <!-- Page specific head -->
        {% block head %}
        {% endblock head %}
        <style>
            #djDebug {
                display: none;
            }
        </style>
    </head>
    <body class="min-h-screen bg-gray-100 dark:bg-gray-950">
        <div class="z-50 flex fixed w-full top-0 backdrop-blur bg-gray-100/[0.5] dark:bg-gray-950/[0.5] px-12 py-4 flex-row justify-between items-center text-gray-900 dark:text-white">
            <div class="flex items-center flex-1 gap-8">
            <h1 class="text-3xl font-bold w-60">
                <a class="flex gap-4" href="{% url 'index' %}">
                    <img src="{% static 'logo.png' %}" alt="logo" width="32">
                    {{ page_header }}
                </a>
            </h1>
            <nav class="flex gap-4 pl-1 text-lg font-semibold divide-x justify-stretch dark:divide-slate-800 divide-slate-300">
                <a href="/">Accounts</a>
                <a class="pl-4" href="{% url 'posts' %}"><span class="opacity-50 hover:opacity-75">Posts</span></a>
                <a class="pl-4" href="{% url 'conferences' %}"><span class="opacity-50 hover:opacity-75">Conferences</span></a>
            </nav>
            </div>
            <div class="flex justify-between gap-2">
               <theme-toggle>
            <button type="button"
                    class="inline-flex items-center justify-center text-gray-900 transition rounded-full h-14 w-14 dark:text-white ring-gray-600 hover:bg-primary-500/10 focus:outline-none focus-visible:ring-2 dark:hover:bg-primary-400/10">
                <span class="sr-only">Toggle Theme</span>
                <span class="hidden dark:block">
                    {% heroicon_outline 'sun' %}
                </span>
                <span class="block w-6 h-6 dark:hidden">
                    {% heroicon_outline 'moon' %}
                </span>
            </button>
            </theme-toggle>
            <form method="get"
              role="group"
              class="w-96"
              action="{% if selected_lang_or_framework %}{% url selected_lang_or_framework.code %}{% else %}{% url 'index' %}{% endif %}">
                <label for="default-search"
                       class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search"
                           name="q"
                           class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Filter by name, bio, or instance..."
                           value="{{ query }}" />
                    <button type="submit"
                            class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Search
                    </button>
                </div>
            </form>
            </div>
        </div>
        <div class="flex pt-14 h-svh">
            <div class="flex flex-col justify-between w-1/6 p-12 pr-8 overflow-y-auto text-gray-900 min-w-64 max-w-80 dark:text-white max-h-svh">
                <div class="align-top">
                    {% block header %}
                        {% comment %} {% if page_subheader %}<h2>{{ page_subheader | safe }}</h2>{% endif %} {% endcomment %}
                    {% endblock header %}
                    {% block sidebar %}
                    {% endblock sidebar %}
                </div>
                <footer class="align-baseline">
                    <nav>
                        <div class="flex gap-4 mb-4">
                            <a href="https://github.com/anze3db/fedidevs">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18"
                                     height="18"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                                </svg>
                            </a>
                            <a rel="me" href="https://fosstodon.org/@fedidevs">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18"
                                     height="18"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z" />
                                </svg>
                            </a>
                            <a href="mailto:hello@fedidevs.com">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18"
                                     height="18"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                </svg>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="{% url 'faq' %}">FAQ</a>
                            </li>
                            <li>
                                <a href="{% url 'developers-on-mastodon' %}">Mastodon instances</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://anze3db.ck.page/76db70f6e0 ">Newsletter</a>
                            </li>
                        </ul>
                    </nav>
                    <p class="mt-4 text-sm">
                        Created by <a href="https://fosstodon.org/@anze3db">Anže</a>
                    </p>
                </footer>
            </div>
            <div class="flex-grow pl-16 overflow-auto">
                <div class="container p-12 pl-0 mx-auto">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <script src="{% static "src/components.js" %}"></script>
        <script data-goatcounter="https://fedidevs.goatcounter.com/count"
                async
                src="//gc.zgo.at/count.js"></script>
    </body>
</html>
