{% load account_extras %}
{% load static %}
<ul role="list"
    id="accounts_target"
    class="divide-y divide-gray-200 dark:divide-gray-700">
    {% for account in accounts %}
        <li class="py-3 sm:py-4 px-3">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <div class="flex-shrink-0">
                    <img class="w-8 h-8 rounded-full" src="{{ account.avatar }}" alt="PIC">
                </div>
                <label for="checkbox-{{ account.id }}" class="flex-1 min-w-0 cursor-pointer">
                    <p class="text-sm font-semibold text-gray-900 truncate dark:text-white mb-1 flex gap-2 [&>img]:max-w-4 [&>img]:max-h-4">
                        {% render_emojis account.name account.emojis %}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{ account.username_at_instance }}</p>
                    {% if not account.discoverable %}
                        <p class="text-xs py-2 prose drak:prose-invert text-gray-500 truncate dark:text-gray-400 [&>a]:text-gray [&>a]:truncate [&>a]:dark:text-gray-200">
                            {% with url="https://docs.joinmastodon.org/user/profile/#discoverable" %}
                                {% blocktrans %}
                                ⚠️ The account is not set as <a href="{{url}}">discoverable</a> and cannot be added.
                                {% endblocktrans %}
                            {% endwith %}
                        </p>
                    {% endif %}
                </label>
                {% if account.discoverable %}
                    <input id="checkbox-{{ account.id }}"
                           type="checkbox"
                           value=""
                           {% if not account.discoverable %}disabled="disabled"{% endif %}
                           hx-target="#starter_pack_stats"
                           hx-post="{% url 'toggle_account_to_starter_pack' starter_pack.slug account.id %}"
                           {% if account.in_starter_pack %}checked="checked"{% endif %}
                           class="w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2  dark:border-gray-600">
                {% endif %}
            </div>
        </li>
    {% empty %}
        {% if is_username %}
            <li class="p-8 prose dark:prose-invert">
                <h2 class="text-center">{% trans "No results found 😞" %}</h2>
                <p>
                    {% trans "We couldn't find any accounts matching your query in the Fedidevs database or at the instance itself. Double check the username and instance and try again." %}
                </p>
                <p>
                    {% blocktrans %}
                        <strong>Note:</strong> Only <strong>Mastodon</strong> instances are supported at the moment.
                    {% endblocktrans %}
                </p>
                {% with email="mailto:hello@fedidevs.com" url="https://fosstodon.org/@Fedidevs" %}
                    <p>
                        {% blocktrans %}
                            <strong>Tip:</strong> Reach out to us through <a href="{{mail}}">email</a> or <a href="{{url}}">Mastodon</a> and we'll try to help you out!
                        {% endblocktrans%}
                    </p>
                {% endwith %}
            </li>
        {% else %}
            <li class="p-8 prose dark:prose-invert">
                <h2 class="text-center">No results found 😞</h2>
                <p>
                    {% trans "We couldn't find any accounts matching your query in the Fedidevs database. Keep in mind, our database only includes a small portion of all the accounts in the fediverse!" %}
                </p>
                <p>
                    {% blocktrans %}
                        <strong>Tip:</strong> Try searching for <strong>@username@instance.org</strong> to find the user directly on their instance.
                    {% endblocktrans %}
                </p>
            </li>
        {% endif %}
    {% endfor %}
    {% if accounts.has_next %}
        <li hx-get="{% url 'edit_accounts_starter_pack' starter_pack.slug %}{% querystring page=accounts.next_page_number %}"
            hx-trigger="intersect once"
            hx-swap="afterend"></li>
    {% else %}
        {% if accounts %}
            <li class="p-4 prose text-s dark:prose-invert">
                <p>
                    {% blocktrans %}
                        <strong>Tip:</strong> Not finding a specific account? Try searching for <strong>@username@instance.org</strong> to find the user directly on their instance.
                    {% endblocktrans %}
                </p>
            </li>
        {% endif %}
    {% endif %}
</ul>
