{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
    <main class="py-8 px-4 mx-auto max-w-2xl lg:py-16 p-3 mb-12 ">
        <h2 class="mb-4 text-xl text-center font-bold text-gray-900 dark:text-white">Mastodon starter packs</h2>
        <p class="mb-8 text-l text-center">Invite your friends to follow your favorite people on Mastodon</p>
        <form action=""
              method="post"
              class="bg-white shadow-md rounded-2xl dark:bg-gray-800 break-inside-avoid-column p-8">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="title"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Starter pack title
                    </label>
                    <input type="text"
                           name="title"
                           id="title"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="My Awesome Starter Pack"
                           value="{% if form.title.value %}{{ form.title.value }}{% endif %}"
                           required="">
                    <div class="text-sm text-red-500">{{ form.title.errors }}</div>
                </div>
                <div class="sm:col-span-2">
                    <label for="description"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Starter pack description
                    </label>
                    <textarea id="description"
                              rows="8"
                              name="description"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              placeholder="My favorite people on Mastodon - join me!">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                    <div class="text-sm text-red-500">{{ form.description.errors }}</div>
                </div>
                <div class="text-sm text-red-500">{{ form.non_field_errors }}</div>
            </div>
            {% if not request.user.is_authenticated %}
                <button data-modal-target="authentication-modal"
                        data-modal-toggle="authentication-modal"
                        data-umami-event="follow-signup-modal"
                        class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Continue
                </button>
            {% else %}
                <button type="submit"
                        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Continue
                </button>
            {% endif %}
        </form>
    </main>
{% endblock content %}
{% block sidebar %}
    <section class="mb-8">
    </section>
{% endblock sidebar %}
