{% load account_extras %}
{% load static %}
<ul role="list"
    id="accounts_target"
    class="divide-y divide-gray-200 dark:divide-gray-700">
    {% for account in accounts %}
        <li class="py-3 sm:py-4 px-6">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <div class="flex-shrink-0">
                    <img class="w-8 h-8 rounded-full" src="{{ account.avatar }}" alt="PIC">
                </div>
                <label for="checkbox-{{ account.id }}" class="flex-1 min-w-0 cursor-pointer">
                    <p class="text-sm font-semibold text-gray-900 truncate dark:text-white mb-1 flex gap-2 [&>img]:max-w-4 [&>img]:max-h-4">
                        {% render_emojis account.name account.emojis %}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{ account.username_at_instance }}</p>
                    {% if not account.discoverable %}
                        <p class="text-xs py-2 prose drak:prose-invert text-gray-500 truncate dark:text-gray-400 [&>a]:text-gray [&>a]:truncate [&>a]:dark:text-gray-200">
                            {% with url="https://docs.joinmastodon.org/user/profile/#discoverable" %}
                                {% blocktrans trimmed %}
                                    ⚠️ The account is not set as <a href="{{ url }}">discoverable</a> and cannot be added.
                                {% endblocktrans %}
                            {% endwith %}
                        </p>
                    {% endif %}
                    {% if account.instance_model.private and account.noindex %}
                        <p class="text-xs py-2 prose drak:prose-invert text-gray-500 truncate dark:text-gray-400 [&>a]:text-gray [&>a]:truncate [&>a]:dark:text-gray-200">
                            {% blocktrans trimmed %}
                                ⚠️ The account has not opted in for search engine indexing and cannot be added.
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                </label>
                {% if account.can_add_to_starter_pack %}
                    <input id="checkbox-{{ account.id }}"
                           type="checkbox"
                           name="{{ account.id }}"
                           {% if not account.discoverable %}disabled="disabled"{% endif %}
                           hx-target="#starter_pack_stats"
                           {% if review %}hx-params="review"{% endif %}
                           hx-post="{% url 'toggle_account_to_starter_pack' starter_pack.slug account.id %}"
                           {% if account.in_starter_pack %}checked="checked"{% endif %}
                           class="w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2  dark:border-gray-600">
                {% endif %}
            </div>
        </li>
    {% empty %}
        {% trans "No accounts in this starter pack" %}
    {% endfor %}
    {% if accounts.has_next %}
        <li hx-get="{% url 'edit_accounts_starter_pack' starter_pack.slug %}{% querystring page=accounts.next_page_number %}"
            hx-trigger="intersect once"
            hx-swap="afterend"></li>
    {% endif %}
</ul>
