{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
    <main>
        <div class="max-w-4xl mb-8">
            <div class="w-full p-4 text-center bg-blue-100 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-blue-950 dark:border-blue-800">
                <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">{% render_language_emojis starter_pack.title %}</h5>
                <p class="mb-5 text-base text-gray-500 sm:text-sm dark:text-gray-400">by {{ starter_pack.created_by }}</p>
                <p class="mb-5 text-base sm:text-lg">{% render_language_emojis starter_pack.description %}</p>
                <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
                    {% if not user.is_authenticated %}
                        <button data-modal-target="authentication-modal"
                                data-modal-toggle="authentication-modal"
                                data-umami-event="follow-signup-modal"
                                class="plausible-event-name=follow-signup-modal text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Follow all {{ num_accounts }} accounts
                        </button>
                    {% else %}
                        <form method="post"
                              action="{% url 'follow_starter_pack' starter_pack.slug %}">
                            {% csrf_token %}
                            <button type="submit"
                                    class="plausible-event-name=follow-all text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Follow all {{ num_accounts }} accounts
                            </button>
                        </form>
                    {% endif %}
                    <button id="openMoreDropdown"
                            data-dropdown-toggle="starter-pack-dropdown"
                            type="button"
                            class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        ...
                    </button>
                    <!-- Dropdown menu -->
                    <div id="starter-pack-dropdown"
                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownDefaultButton">
                            {% comment %} <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Copy Link</a>
                            </li> {% endcomment %}
                            {% if starter_pack.created_by == request.user %}
                                <li>
                                    <a href="{% url 'edit_accounts_starter_pack' starter_pack.slug %}"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add Accounts</a>
                                </li>
                                <li>
                                    <a href="{% url 'edit_starter_pack' starter_pack.slug %}"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                </li>
                                <li>
                                    <a href="{% url 'delete_starter_pack' starter_pack.slug %}"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'faq' %}#report-issue"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include "starter_pack_accounts.html" %}
    </main>
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}
