{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
    <header class="pb-8">
        <div class="border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap justify-center -mb-px text-lg font-medium text-center text-gray-800 dark:text-gray-200">
                <li class="me-2">
                    <c-tab tab="community" default>
                    {% heroicon_solid 'user-group' %}
                    Community Starter Packs
                    </c-tab>
                </li>
                <li class="me-2">
                    <c-tab tab="your">
                    {% heroicon_solid 'user' %}
                    Your Starter Packs
                    </c-tab>
                </li>
                <li class="me-2">
                    <c-tab tab="containing">
                    {% heroicon_solid 'users' %}
                    Starter Packs Containing You
                    </c-tab>
                </li>
            </ul>
        </div>
    </header>
    <main class="mx-auto">
        {% if starter_packs %}
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
                {% for starter_pack in starter_packs %}<c-starter-pack-card />{% endfor %}
            </div>
        {% else %}
            <div class="text-center text-gray-700 dark:text-gray-300 w-full">
                {% if containing_username %}
                    <p class="w-full">
                        No starter packs containing <strong>{{ containing_username }}</strong>.
                    </p>
                {% endif %}
                {% if request.user.is_anonymous %}
                    {% if request.GET.tab == 'your' %}
                        <p class="w-full">Please login to see your starter packs.</p>
                    {% elif request.GET.tab == 'containing' %}
                        <p class="w-full">Please login to see your starter packs or search for your username@instance.org:</p>
                        <form class="max-w-sm mx-auto p-4" action="{% url "starter_packs" %}">
                            <div class="relative">
                                <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z">
                                        </path>
                                    </svg>
                                </div>
                                <button type="submit"
                                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Go
                                </button>
                                <input type="hidden" name="tab" value="containing">
                                <input type="search"
                                       name="username"
                                       class="block w-full p-4 pr-16 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="username@instance.org"
                                       value="{{ containing_username }}">
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    {% if request.GET.tab == 'your' %}
                        <p class="w-full">You haven't created any starter packs yet.</p>
                    {% elif request.GET.tab == 'containing' %}
                        <p class="w-full">You haven't been added to any starter packs yet.</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock content %}
{% block sidebar %}
    <section class="mb-8 prose dark:prose-invert">
        <h2>Mastodon starter packs</h2>
        <p>Invite your friends to follow your favorite people on Mastodon.</p>
    </section>
    <section class="mb-16">
        {% if not user.is_authenticated %}
            <button data-modal-target="authentication-modal"
                    data-modal-toggle="authentication-modal"
                    data-umami-event="follow-signup-modal"
                    class="plausible-event-name=follow-signup-modal text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Create your starter pack
            </button>
        {% else %}
            <a href="{% url 'create_starter_pack' %}"
               class="plausible-event-name=follow-signup-modal text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create your starter pack</a>
        {% endif %}
    </section>
{% endblock sidebar %}
