<div class="flex px-8 pt-8 pb-4">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <div class="flex-1">
        {% if num_accounts == 0 %}
        {% else %}
            {% blocktrans trimmed count counter=num_accounts %}
                {{ counter }} account in your starter pack.
            {% plural %}
                {{ counter }} accounts in your starter pack.
            {% endblocktrans %}
        {% endif %}
    </div>
    <div>
        {% if review %}
            {% if num_accounts %}
                <a href="{% url 'share_starter_pack' starter_pack.slug %}"
                   class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{% trans "Finish" %}</a>
            {% else %}
                <a href="#"
                   class="cursor-not-allowed text-white bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-500 dark:focus:ring-gray-800"
                   disabled>{% trans "Finish" %}</a>
            {% endif %}
        {% else %}
            {% if num_accounts %}
                <a href="{% url 'review_starter_pack' starter_pack.slug %}"
                   class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{% trans "Review" %}</a>
            {% else %}
                <a href="#"
                   class="cursor-not-allowed text-white bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-500 dark:focus:ring-gray-800"
                   disabled>{% trans "Review" %}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
