{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
    <header class="pb-8">
        <div class="border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap justify-center -mb-px text-lg font-medium text-center text-gray-800 dark:text-gray-200">
                <li class="me-2">
                    <c-tab tab="community" default>
                    {% heroicon_solid 'user-group' %}
                    Community Starter Packs
                    </c-tab>
                </li>
                <li class="me-2">
                    <c-tab tab="your">
                    {% heroicon_solid 'user' %}
                    Your Starter Packs
                    </c-tab>
                </li>
                <li class="me-2">
                    <c-tab tab="containing">
                    {% heroicon_solid 'users' %}
                    Starter Packs Containing You
                    </c-tab>
                </li>
            </ul>
        </div>
    </header>
    <main class="mx-auto">
        {% if starter_packs %}
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
                {% for starter_pack in starter_packs %}<c-starter-pack-card />{% endfor %}
            </div>
        {% else %}
            <div class="text-center text-gray-700 dark:text-gray-300 w-full">
                {% if request.user.is_anonymous %}
                    {% if request.GET.tab == 'your' %}
                        <p class="w-full">Please login to see your starter packs.</p>
                    {% elif request.GET.tab == 'containing' %}
                        <p class="w-full">Please login to see starter packs containing your account.</p>
                    {% endif %}
                {% else %}
                    {% if request.GET.tab == 'your' %}
                        <p class="w-full">You haven't created any starter packs yet.</p>
                    {% elif request.GET.tab == 'containing' %}
                        <p class="w-full">You haven't been added to any starter packs yet.</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock content %}
{% block sidebar %}
    <section class="mb-8 prose dark:prose-invert">
        <h2>Mastodon starter packs</h2>
        <p>Invite your friends to follow your favorite people on Mastodon.</p>
    </section>
    <section class="mb-16">
        {% if not user.is_authenticated %}
            <button data-modal-target="authentication-modal"
                    data-modal-toggle="authentication-modal"
                    data-umami-event="follow-signup-modal"
                    class="plausible-event-name=follow-signup-modal text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Create your starter pack
            </button>
        {% else %}
            <a href="{% url 'create_starter_pack' %}"
               class="plausible-event-name=follow-signup-modal text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create your starter pack</a>
        {% endif %}
    </section>
{% endblock sidebar %}
