{% load account_extras %}
{% load static %}
{% load humanize %}
<div>
    <div class="p-4 no-underline bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-900">
        <a href="{% url 'share_starter_pack' starter_pack.slug %}" class="block">
            <h4 class="prose dark:prose-invert text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {% render_language_emojis starter_pack.title %}
            </h4>
        </a>
        {% if request.GET.tab != 'your' %}
            <a href="{{ starter_pack.created_by.accountaccess.account.url }}"
               class="block text-sm font-medium pt-4 text-gray-700 dark:text-gray-400 hover:underline">
                By <span class="text-gray-900 dark:text-gray-200">{% render_language_emojis starter_pack.created_by.accountaccess.account.display_name %}</span> {{ starter_pack.created_by.accountaccess.account.username_at_instance }}
            </a>
        {% endif %}
        <a href="{% url 'share_starter_pack' starter_pack.slug %}" class="block">
            <p class="prose dark:prose-invert pt-4 font-normal text-gray-700 dark:text-gray-400">
                {% render_language_emojis starter_pack.description %}
            </p>
            <div class="prose dark:prose-invert grid grid-cols-2 gap-2 py-4 mt-4 text-sm text-gray-500 border-t divide-x dark:text-gray-500 border-color-gray-700 dark:border-gray-700 divide-color-gray-700 dark:divide-gray-700">
                <div class="flex flex-col gap-0 text-center" title="Last status">
                    <span class="text-xs">Created</span>
                    <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">{{ starter_pack.created_at | naturaltime }}</span>
                </div>
                <div class="flex flex-col gap-0 text-center" title="Following">
                    <span class="text-xs">Accounts</span>
                    <span class="font-semibold text-gray-700 truncate dark:text-gray-400 text-md">
                        <span>{{ starter_pack.num_accounts }}</span>
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
