{% extends "layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
  <header style="text-align:center;">
    <h1 class="logo">
      <img src="{% static 'logo.png' %}" alt="logo">
      FEDIDEVS
    </h1>
    <h2>Mastodon Instances with Software Developers</h2>
  </header>
  <article>
    <p>
      Mastodon is a social network similar to Twitter, but with the key difference that there is no single entity running it. Instead, Mastodon is comprised of thousands of instances. According to <a href="https://mastodon.help">mastodon.help</a> the total number of instances is currently <strong>12.206</strong>.
    </p>
    <p>
      Since each instance has its own rules and code of conduct it can be a bit intimidating to pick the right one for you.
    </p>
    <p>
      The general advice is that picking an instance doesn't matter, since the <a href="https://www.w3.org/TR/activitypub/">ActivityPub protocol</a> behind Mastodon allows you to follow accounts from any other instance. But Mastodon clients allow you to see posts made by other users on the instance (<a href="https://docs.joinmastodon.org/user/network/#timelines">local timeline</a>) so some users prefer to join instances where users have common interests.
    </p>
    <h3>Mastodon instances with most developers</h3>
    <p>
      If you are a software engineer or someone learning or interested in software development you might want to create an account on an instance with other software developers so that your local timeline is full of relevant content.
    </p>
    <p>
      For <a href="{% url 'index' %}">Fedidevs</a> I have indexed some of the most popular Mastodon instances and used regexes to try and find accounts that belong to software developers.
    </p>
    <p>
      I indexed only a small percentage (0.225%) of all Mastodon instances, but this set of instances includes the majority of English-speaking users on Mastodon (see the full list of instances in the <a href="{% url 'faq' %}">FAQ page</a>).
    </p>
    <h3>The results</h3>
    <table style="width:30%;">
      <tr>
        <th style="text-align:right">Count</th>
        <th>Instance</th>
      </tr>
      {% for instance in all_devs %}
        <tr>
          <td style="text-align:right">{{ instance.count }}</td>
          <td>
            <a href="https://{{ instance.instance }}">{{ instance.instance }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>
      No surprise that <a href="https://mastodon.social">mastodon.social</a> is on top here. It's one of the largest Mastodon instances with more than 1 million users. That's 1/6 of Mastodon's total users according to <a href="https://mastodon.help">mastodon.help</a>.
      Even though <a href="https://mastodon.social">mastodon.social</a> has the most developers of any instance, it also has the most users so the percentage of developers is not that high and your local timeline will most likely not have content relevant to you.
    </p>
    <p>
      <a href="https://hachyderm.io">hachyderm.io</a> is an LGBTQIA+ and BLM safe space focused on tech industry professionals worldwide.
    </p>
    <p>
      <a href="https://mastodon.online/">mastodon.online</a> is another very popular general purpose instance.
    </p>
    <p>
      <a href="https://phpc.social/">phpc.social</a> and <a href="https://ruby.social/">ruby.social</a> are instances for people interested in Ruby and PHP programming languages.
    </p>
    <p>
      <a href="https://fosstodon.org/">fosstodon.org</a> a community for anyone interested in technology; particularly free and open source software. The custom emojis on this instance are amazing 👌
    </p>
    <p>
      <a href="https://infosec.exchange/">infosec.exchange</a> focuses on info/cyber security. If that's what you are interested in this is probably the best instance for you!
    </p>
    <p>
      <a href="https://techhub.social">techhub.social</a> is primarily for passionate technologists, but according to the instance description everyone is welcome.
    </p>
    <h3>Mastodon instances with most Python developers</h3>
    <table style="width:20%;">
      <tr>
        <th style="text-align:right">Count</th>
        <th>Instance</th>
      </tr>
      {% for instance in python_devs %}
        <tr>
          <td style="text-align:right">{{ instance.count }}</td>
          <td>
            <a href="https://{{ instance.instance }}">{{ instance.instance }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>
      The Python community has recently started to migrate away from Twitter and a lot of prominent Python community members no longer post on Twitter.
    </p>
    <p>
      Besides the two largest instances most Python developers seem to hang out on <a href="https://fosstodon.org/">fosstodon.org</a>. This is where some of the largest Python-related accounts live, including the <a href="https://fosstodon.org/@ThePSF@fosstodon.org">official account</a> for the Python Software Foundation, <a href="https://fosstodon.org/@mkennedy@fosstodon.org">Michael Kennedy</a>, <a href="https://fosstodon.org/@brettcannon@fosstodon.org">Brett Cannon</a>, and others.
    </p>
    <h3>Mastodon instances with most JavaScript developers</h3>
    <table style="width:20%;">
      <tr>
        <th style="text-align:right">Count</th>
        <th>Instance</th>
      </tr>
      {% for instance in javascript_devs %}
        <tr>
          <td style="text-align:right">{{ instance.count }}</td>
          <td>
            <a href="https://{{ instance.instance }}">{{ instance.instance }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>
      The top two largest instances for JavaScript developers are the same as the Python ones, but fosstodon.org isn't as popular with JavaScript developers as it is with Python developers.
    </p>
    <h3>Mastodon instances with most Rust developers</h3>
    <table style="width:20%;">
      <tr>
        <th style="text-align:right">Count</th>
        <th>Instance</th>
      </tr>
      {% for instance in rust_devs %}
        <tr>
          <td style="text-align:right">{{ instance.count }}</td>
          <td>
            <a href="https://{{ instance.instance }}">{{ instance.instance }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>
      Rust developers seem to prefer <a href="https://hachyderm.io">hachyderm.io</a> over <a href="https://mastodon.social">mastodon.social</a> and it seems to be the only programming language with these instances switched.
    </p>
    <h3>Mastodon instances with most Ruby developers</h3>
    <table style="width:20%;">
      <tr>
        <th style="text-align:right">Count</th>
        <th>Instance</th>
      </tr>
      {% for instance in ruby_devs %}
        <tr>
          <td style="text-align:right">{{ instance.count }}</td>
          <td>
            <a href="https://{{ instance.instance }}">{{ instance.instance }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>
      No surprise that Ruby developers prefer the ruby Mastodon instance - <a href="https://ruby.social">ruby.social</a>.
    </p>
    <h3>Mastodon instances with most PHP developers</h3>
    <table style="width:20%;">
      <tr>
        <th style="text-align:right">Count</th>
        <th>Instance</th>
      </tr>
      {% for instance in php_devs %}
        <tr>
          <td style="text-align:right">{{ instance.count }}</td>
          <td>
            <a href="https://{{ instance.instance }}">{{ instance.instance }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>
      Similar to Ruby developers PHP developers also have their instance <a href="phpc.social">phpc.social</a>. Unlike the Ruby community, it seems like the PHP community is more spread out and the official PHP instance takes up a smaller percentage of users than the ruby.social instance in the Ruby community.
    </p>
    <h3>Other popular languages</h3>
    <p>
      <a href="{% url "index" %}">Fedidevs</a> also allows filtering by <a href="{% url 'java' %}">Java</a>, <a href="{% url 'csharp' %}">C#</a>, <a href="{% url 'golang' %}">Golang</a>, and others. But the amount of accounts isn't as high as the ones listed in this article so I've omitted it for brevity. Let me know if you would still want to see the statistics for these.
    </p>
    <p>
      If you have any other suggestions on how to improve this blog post or fedidevs.com don't be shy to <a href="mailto:hello@fedidevs.com">reach out</a> 🙏
    </p>
  </article>
{% endblock %}
