{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block head %}
    {% if posts.has_previous %}<meta name="robots" content="none">{% endif %}
{% endblock head %}
{% block content %}
    <main class="flex justify-center">
        <article>
            <section class="mb-8 mr-2 flex flex-wrap gap-4 justify-end">
                {% for date in dates %}
                    {% if posts_date == date.value %}
                        <a href="{% url 'djangoconus' %}{% querystring %}"
                           class="relative inline-flex items-center justify-center overflow-hidden font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 focus:ring-pink-200 dark:focus:ring-pink-800 hover:text-white dark:text-white focus:ring-4 focus:outline-none text-xs"
                           role="button">
                            <span class="relative p-2.5 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0">{{ date.pre_display }} ({{ date.count }})</span>
                            <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                        </a>
                    {% endif %}
                {% endfor %}
                {% include "legacy_order_dropdown.html" %}
            </section>
            <section data-nosnippet class="max-w-3xl">
                {% for post in posts %}
                    {% include "post.html" %}
                {% empty %}
                    <p class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center">
                        No results, please check back later!
                    </p>
                {% endfor %}
                {% include "legacy_conference_pagination.html" %}
            </section>
        </article>
    </main>
{% endblock content %}
{% block sidebar %}
    <h1 class="hidden md:block mb-4 text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-orange-400">
        {{ page_header }}
    </h1>
    <p class="prose dark:prose-invert">
        <a href="https://2023.djangocon.us">2023 DjangoCon US 🐂</a> took place on October 16-20, 2023 in Durham Convention Center in Durham, NC. See the <a href="https://2023.djangocon.us/schedule/">Schedule</a>.
    </p>
    <p class="mt-4 mb-4 prose dark:prose-invert">
        There have been <strong>{{ total_posts }} posts</strong> and <strong>{{ total_favourites|default:0 }} favourites</strong> with the hashtags <a href="https://fosstodon.org/tags/DjangoCon">#djangocon</a> or <a href="https://fosstodon.org/tags/DjangoConUS">#djangoconus</a> on Mastodon during the conference.
    </p>
    {% if dates %}
        <h2 class="flex items-center gap-2 pb-2 mb-4 font-semibold align-middle border-b">Filter by conference day</h2>
        <ul class="px-4 -mx-4 mb-8">
            {% for date in dates %}
                <li class="m-1 inline-block">
                    <a href="{% if posts_date == date.value %}{% url 'djangoconus' %}{% else %}{% url 'djangoconus' date.value %}{% endif %}{% querystring page=None %}"
                       class="relative inline-flex items-center justify-center p-0.5 mb-1 me-1 overflow-hidden font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 focus:ring-pink-200 dark:focus:ring-pink-800 hover:text-white dark:text-white focus:ring-4 focus:outline-none text-xs">
                        <span class="relative p-2.5 transition-all ease-in duration-75 {% if date.value != posts_date %}bg-white dark:bg-gray-900{% endif %} rounded-md group-hover:bg-opacity-0">
                            {{ date.pre_display }} ({{ date.count }})
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock sidebar %}
