{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{% static 'pico.min.css' %}">
            <link rel="stylesheet" href="{% static 'site.css' %}">
            <title>
                  {% if page_title %}
                        {{ page_title }}
                  {% elif selected_lang %}
                        {{ selected_lang.emoji }} {{ selected_lang.name }} developers | 👩‍💻 FediDevs 🧑‍💻
                  {% else %}
                        👩‍💻 FediDevs 🧑‍💻
                  {% endif %}
            </title>
            <meta name="description"
                  content="Discover amazing developers from across the fediverse.">
            <!-- Facebook Meta Tags -->
            <meta property="og:url" content="https://fedidevs.com">
            <meta property="og:type" content="website">
            <meta property="og:title"
                  content="{% if page_title %} {{ page_title }} {% elif selected_lang %} {{ selected_lang.emoji }} {{ selected_lang.name }} developers | 👩‍💻 FediDevs 🧑‍💻 {% else %} 👩‍💻 FediDevs 🧑‍💻 {% endif %}">
            <meta property="og:description"
                  content="Discover amazing developers from across the fediverse.">
            <meta property="og:image"
                  content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'og.png' %}">
            <!-- Twitter Meta Tags -->
            <meta name="twitter:card" content="summary_large_image">
            <meta property="twitter:domain" content="fedidevs.com">
            <meta property="twitter:url" content="https://fedidevs.com">
            <meta name="twitter:title"
                  content="{% if page_title %} {{ page_title }} {% elif selected_lang %} {{ selected_lang.emoji }} {{ selected_lang.name }} developers | 👩‍💻 FediDevs 🧑‍💻 {% else %} 👩‍💻 FediDevs 🧑‍💻 {% endif %}">
            <meta name="twitter:description"
                  content="Discover amazing developers from across the fediverse.">
            <meta name="twitter:image"
                  content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'og.png' %}">
      </head>
      <body>
            <main class="container">
                  {% block content %}{% endblock %}
                  <footer class="text-center">
                        <ul class="no-bullets">
                              <li>
                                    <a href="{% url 'faq' %}">FAQ</a>
                              </li>
                              <li>
                                    <a href="{% url 'developers-on-mastodon' %}">Mastodon instances</a>
                              </li>
                              <li>
                                    <a href="https://github.com/anze3db/fedidevs">Source Code</a>
                              </li>
                              <li>
                                    <a href="https://fosstodon.org/@anze3db">fosstodon.org/@anze3db</a>
                              </li>
                              <li>
                                    <a target="_blank" href="https://anze3db.ck.page/76db70f6e0 ">Newsletter</a>
                              </li>
                              <li>
                                    <a href="mailto:hello@fedidevs.com">Email</a>
                              </li>
                        </ul>
                  </footer>
            </main>
      </body>
      <script src="{% static "modal.js" %}"></script>
      <script data-goatcounter="https://fedidevs.goatcounter.com/count"
              async
              src="//gc.zgo.at/count.js"></script>
</html>
