{% load account_extras %}
{% load static %}
<div style="padding: 20px 0px;">
    <img class="avatar"
         src="{{ post.account.avatar }}"
         alt="{{ post.account.login }}"
         width="100"
         height="100" />
    {% if selected_instance and selected_instance != post.account.source %}
        <a href="https://{% firstof selected_instance %}/@{{ post.account.username }}@{{ post.account.source }}"
           target="_blank"
           style="display:inline-block;
                  white-space: nowrap">{% render_emojis post.account.display_name post.account.emojis %}</a>
    {% else %}
        <a href="https://{{ post.account.source }}/@{{ post.account.username }}"
           target="_blank"
           style="display:inline-block;
                  white-space: nowrap">{% render_emojis post.account.display_name post.account.emojis %}</a>
    {% endif %}
    @ <a href="https://{{ post.account.source }}">{{ post.account.source }}</a>
    |
    {% for language in post.account.languages %}
        <a href="{% url language.post_code %}?q={{ query }}&o={{ order }}"
           style="display:inline-block;
                  white-space: nowrap">
            <img src="{% static language.image %}"
                 alt="{{ language.code }}"
                 class="emojione"
                 height="8"
                 width="8" />
            <small>{{ language.name }}</small>
        </a>
    {% endfor %}
</div>
{% if post.sensitive %}
    <details>
        <summary>
            {{ post.spoiler_text }}
            <span role="button" class="outline" style="padding: 5px; margin: 0;">Show More</span>
        </summary>
        {{ post.content|safe }}
    </details>
{% else %}
    {{ post.content|safe }}
    {% if post.media_attachments %}
        <div>
            {% for media in post.media_attachments %}
                {% if media.type == "image" %}
                    <a href="{{ media.url }}">
                        <img src="{{ media.preview_url }}"
                             alt="{{ media.description }}"
                             style="max-height: 300px;
                                    margin-bottom: 10px;
                                    border-radius: var(--pico-border-radius);
                                    background: var(--pico-card-background-color);
                                    box-shadow: var(--pico-card-box-shadow)" />
                    </a>
                {% endif %}
                {% if media.type == "video" %}
                    <video controls style="max-height: 300px; margin-bottom: 10px;">
                        <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                {% if media.type == "gifv" %}
                    <video autoplay loop muted style="max-height: 300px; margin-bottom: 10px;">
                        <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if not post.media_attachments and post.card %}
        <article class="card" style="max-width: 350px">
            <a href="{{ post.card.url }}" target="_blank">
                {% if post.card.image %}
                    <img src="{{ post.card.image }}"
                         alt="{{ post.card.title }}"
                         width="100%"
                         height="auto" />
                {% endif %}
            </a>
            <footer>
                <h3>
                    <a href="{{ post.card.url }}" target="_blank">{{ post.card.title }}</a>
                </h3>
                <small>{{ post.card.description }}</small>
            </footer>
        </article>
    {% endif %}
{% endif %}
<div>
    <small>
        {% heroicon_outline 'star' %} {{ post.favourites_count }} | {% heroicon_outline 'arrow-path-rounded-square' %} {{ post.reblogs_count }} | {% heroicon_outline 'chat-bubble-bottom-center' %} {{ post.replies_count }} |
        <a href="{{ post.uri }}">
            <span>{{ post.created_at }}</span>
        </a>
    </small>
</div>
<hr>
