{% load account_extras %}
{% load humanize %}
{% load static %}
<style>
    .post .invisible {
        display: none;
    }

    .post a {
        text-decoration: underline;
    }
</style>
<div class="p-5 my-8 mx-2  bg-white shadow-md rounded-2xl md:flex-row   dark:bg-gray-800 ">
    <div class="flex items-start gap-2.5">
        <img class="h-16 w-16 rounded-xl"
             loading="lazy"
             src="{{ post.account.avatar }}"
             alt="{{ post.account.login }}" />
        <div>
            <div class="block-link">
                <div class="flex items-center space-x-2 rtl:space-x-reverse mt-1">
                    <a href="{% if selected_instance and selected_instance != post.account.source %} https://{% firstof selected_instance %}/@{{ post.account.username }}@{{ post.account.source }} {% else %} https://{{ post.account.source }}/@{{ post.account.username }} {% endif %}"
                       class="font-semibold"
                       target="_blank">
                        <span class="flex gap-1 text-ellipsis [&>img]:max-w-4 [&>img]:max-h-4 [&>img]:mt-1 text-lg">{% render_emojis post.account.name post.account.emojis %}</span>
                        <span class="border-b border-color-gray-700 dark:border-gray-500 text-gray-700 dark:text-gray-400 text-sm [&>img]:max-h-4 inline-flex gap-2">{{ post.account.username_at_instance }}</span>
                    </a>
                </div>
            </div>
        </div>
        <a href="{% url 'redirect' query=post.uri %}"
           class="overflow-hidden ml-auto mt-1 text-sm text-gray-500 dark:text-gray-200">
            <span class="underline">{{ post.created_at |naturalday }}</span>
        </a>
    </div>
    <div class="mt-4 mb-4">
        {% if post.sensitive %}
            <details class="group">
                <summary class="flex justify-between items-center font-medium border border-gray-400 dark:border-gray-600 rounded-xl p-2 cursor-pointer list-none">
                    <span>Sensitive content
                        {% if post.spoiler_text %}:{% endif %}
                    </span> {{ post.spoiler_text }}
                    <span class="transition group-open:rotate-180">
                        <svg fill="none"
                             height="24"
                             shape-rendering="geometricPrecision"
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="1.5"
                             viewBox="0 0 24 24"
                             width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <div class="my-4 mx-2 post text-gray-700 dark:text-gray-200 prose dark:prose-invert [&_img]:max-h-5 [&_img]:inline-block [&_img]:m-0">
                    {% render_emojis post.content post.emojis %}
                </div>
                {% if post.media_attachments %}
                    <div class="grid grid-cols-2 gap-2 p-4 bg-gray-100 dark:bg-gray-700 rounded-xl">
                        {% for media in post.media_attachments %}
                            <div>
                                {% if media.type == "image" %}
                                    <a href="{{ media.url }}">
                                        <img src="{{ media.preview_url }}"
                                             loading="lazy"
                                             alt="{{ media.description }}"
                                             class="h-auto max-w-full rounded-lg" />
                                    </a>
                                {% endif %}
                                {% if media.type == "video" %}
                                    <video controls class="h-auto max-w-full rounded-lg">
                                        <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                                        Your browser does not support the video tag.
                                    </video>
                                {% endif %}
                                {% if media.type == "gifv" %}
                                    <video autoplay loop muted class="h-auto max-w-full rounded-lg">
                                        <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                                        Your browser does not support the video tag.
                                    </video>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if not post.media_attachments and post.card %}
                    <article class="max-w-sm">
                        <div class=" bg-gray-100 rounded-lg shadow-lg md:flex-row  dark:bg-gray-700">
                            {% if post.card.image %}
                                <div class="p-4 pb-0">
                                    <a href="{{ post.card.url }}" target="_blank">
                                        <img src="{{ post.card.image }}"
                                             alt="{{ post.card.title }}"
                                             width="100%"
                                             class="rounded-t-lg"
                                             loading="lazy"
                                             height="auto" />
                                    </a>
                                </div>
                            {% endif %}
                            <div class="p-4">
                                <a href="{{ post.card.url }}" target="_blank">
                                    <h3 class="text-lg font-bold break-words text-pretty hyphens-auto hover:underline">{{ post.card.title }}</h3>
                                    <small class="line-clamp-4 text-gray-700 dark:text-gray-400">{{ post.card.description }}</small>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endif %}
            </details>
        {% else %}
            <div class="my-4 mx-2 post text-gray-700 dark:text-gray-200 prose dark:prose-invert [&_img]:max-h-5 [&_img]:inline-block [&_img]:m-0">
                {% render_emojis post.content post.emojis %}
            </div>
            {% if post.media_attachments %}
                <div class="grid grid-cols-2 gap-2 p-4 shadow-lg md:flex-row  bg-gray-100 dark:bg-gray-700 rounded-xl">
                    {% for media in post.media_attachments %}
                        <div>
                            {% if media.type == "image" %}
                                <a href="{{ media.url }}">
                                    <img src="{{ media.preview_url }}"
                                         alt="{{ media.description }}"
                                         loading="lazy"
                                         class="h-auto max-w-full rounded-lg" />
                                </a>
                            {% endif %}
                            {% if media.type == "video" %}
                                <video controls class="h-auto max-w-full rounded-lg">
                                    <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                            {% if media.type == "gifv" %}
                                <video autoplay loop muted class="h-auto max-w-full rounded-lg">
                                    <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if not post.media_attachments and post.card %}
                <article class="max-w-sm">
                    <div class=" bg-gray-100 rounded-lg shadow-lg md:flex-row  dark:bg-gray-700">
                        {% if post.card.image %}
                            <div class="p-4 pb-0">
                                <a href="{{ post.card.url }}" target="_blank">
                                    <img src="{{ post.card.image }}"
                                         alt="{{ post.card.title }}"
                                         width="100%"
                                         loading="lazy"
                                         class="rounded-t-lg"
                                         height="auto" />
                                </a>
                            </div>
                        {% endif %}
                        <div class="p-4">
                            <a href="{{ post.card.url }}" target="_blank">
                                <h3 class="text-lg font-bold break-words text-pretty hyphens-auto hover:underline">{{ post.card.title }}</h3>
                                <small class="line-clamp-4 text-gray-700 dark:text-gray-400">{{ post.card.description }}</small>
                            </div>
                        </a>
                    </div>
                </article>
            {% endif %}
        {% endif %}
    </div>
    <div class="flex justify-around mt-6 mb-2 border-t pt-5 dark:border-gray-700 ">
        <span class="flex gap-2">{% heroicon_outline 'star' %} {{ post.favourites_count }}</span>
        <span class="flex gap-2">{% heroicon_outline 'arrow-path-rounded-square' %} {{ post.reblogs_count }}</span>
        <span class="flex gap-2">{% heroicon_outline 'chat-bubble-bottom-center' %} {{ post.replies_count }}</span>
    </div>
</div>
