{% extends "layout.html" %}
{% load account_extras %}
{% load static %}
{% block head %}
  {% if posts.has_previous %}<meta name="robots" content="none">{% endif %}
{% endblock %}
{% block content %}
  <main class="container">
    <article>
      <header>
        <nav class="tabs">
          <ul>
            <li onclick="window.location.href='{% url 'index' %}'">Developers</li>
            <li class="active">Posts</li>
          </ul>
        </nav>
        <script>
        function change_date(element) {
          var date = element.value;
          window.location.href = "/posts/" + date {% if selected_lang_or_framework %} + "/{{ selected_lang_or_framework.code }}"{% endif %};
        }
        </script>
        <select style="" onchange="change_date(this)">
          {% for date in dates %}
            <option value="{{ date.value }}"
                    {% if posts_date == date.display %}selected{% endif %}>{{ date.display }}</option>
          {% endfor %}
        </select>
        <nav>
          <ul style="flex-wrap: wrap; justify-content: center;">
            {% for language in languages %}
              <li>
                <a href="{% if selected_lang.code != language.code %}{% url language.post_code posts_date %}{% else %}{% url "posts" posts_date %}{% endif %}"
                   class="{% if selected_lang.code != language.code %}outline{% endif %} "
                   role="button">
                  <img src="{% static language.image %}"
                       alt="{{ language.code }}"
                       class="emojione"
                       height="16"
                       width="16" />
                {{ language.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <details {% if selected_framework %}open{% endif %}>
          <summary role="button" class="outline secondary">Frameworks, Libraries, and others</summary>
          <nav>
            <ul style="flex-wrap: wrap; justify-content: center;">
              {% for framework in frameworks %}
                <li>
                  <a href="{% if selected_framework.code != framework.code %}{% url framework.post_code posts_date %}{% else %}{% url "posts" posts_date %}{% endif %}"
                     class="{% if selected_framework.code != framework.code %}outline{% endif %} "
                     role="button">
                    <img src="{% static framework.image %}"
                         alt="{{ framework.code }}"
                         class="emojione"
                         height="16"
                         width="16" />
                  {{ framework.name }}</a>
                </li>
              {% endfor %}
              <li>
                <a href="{% url 'djangoconus' %}"
                   class="outline"
                   style="border-color: rgb(231, 75, 26);
                          color: rgb(231, 75, 26)"
                   role="button">#djangocon US 2023 🐂</a>
              </li>
            </ul>
          </nav>
        </details>
      </header>
      <section data-nosnippet>
        {% for post in posts %}
          <div style="padding: 20px 0px;">
            <img class="avatar"
                 src="{{ post.account.avatar }}"
                 alt="{{ post.account.login }}"
                 width="100"
                 height="100" />
            {% if selected_instance and selected_instance != post.account.source %}
              <a href="https://{% firstof selected_instance %}/@{{ post.account.username }}@{{ post.account.source }}"
                 target="_blank"
                 style="display:inline-block;
                        white-space: nowrap">{% render_emojis post.account.display_name post.account.emojis %}</a>
            {% else %}
              <a href="https://{{ post.account.source }}/@{{ post.account.username }}"
                 target="_blank"
                 style="display:inline-block;
                        white-space: nowrap">{% render_emojis post.account.display_name post.account.emojis %}</a>
            {% endif %}
            @ <a href="https://{{ post.account.source }}">{{ post.account.source }}</a>
            |
            {% for language in post.account.languages %}
              <a href="{% url language.post_code %}?q={{ query }}&o={{ order }}"
                 style="display:inline-block;
                        white-space: nowrap">
                <img src="{% static language.image %}"
                     alt="{{ language.code }}"
                     class="emojione"
                     height="8"
                     width="8" />
                <small>{{ language.name }}</small>
              </a>
            {% endfor %}
          </div>
          {% if post.sensitive %}
            <div>{{ post.spoiler_text }}</div>
          {% else %}
            {{ post.content|safe }}
            {% if post.media_attachments %}
              <div>
                {% for media in post.media_attachments %}
                  {% if media.type == "image" %}
                    <img src="{{ media.preview_url }}"
                         alt="{{ media.description }}"
                         style="max-height: 300px" />
                  {% endif %}
                  {% if media.type == "video" %}
                    <video controls style="max-height: 300px">
                      <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                  {% if media.type == "gifv" %}
                    <video autoplay loop muted style="max-height: 300px">
                      <source src="{{ media.url }}" type="{{ media.meta.mime_type }}">
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            {% if not post.media_attachments and post.card %}
              <article class="card" style="max-width: 350px">
                <a href="{{ post.card.url }}" target="_blank">
                  {% if post.card.image %}
                    <img src="{{ post.card.image }}"
                         alt="{{ post.card.title }}"
                         width="100%"
                         height="auto" />
                  {% endif %}
                </a>
                <footer>
                  <h3>
                    <a href="{{ post.card.url }}" target="_blank">{{ post.card.title }}</a>
                  </h3>
                  <small>{{ post.card.description }}</small>
                </footer>
              </article>
            {% endif %}
          {% endif %}
          <div>
            <small>
              {% heroicon_outline 'star' %} {{ post.favourites_count }} | {% heroicon_outline 'arrow-path-rounded-square' %} {{ post.reblogs_count }} | {% heroicon_outline 'chat-bubble-bottom-center' %} {{ post.replies_count }} |
              <a href="{{ post.uri }}">
                <span>{{ post.created_at }}</span>
              </a>
            </small>
          </div>
          <hr>
        {% endfor %}
        {% if not posts %}<p style="text-align:center;">No results, please check back later!</p>{% endif %}
      </section>
      <div class="pagination" style="padding-bottom: 20px;">
        <span class="step-links">
          {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}&q={{ query }}&o={{ order }}">&laquo; previous</a>
          {% endif %}
          {% if posts %}<span class="current">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>{% endif %}
          {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}&q={{ query }}&o={{ order }}">next &raquo;</a>
          {% endif %}
        </span>
      </div>
      <p>
        Would you like to get the best Fediverse posts
        {% if selected_lang_or_framework %}about <b>{{ selected_lang_or_framework.name }}</b>{% endif %}
        in your inbox every day? If so, you can subscribe with your email below.
        <form method="post" action="/posts/subscribe">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          {{ subscribe_form }}
          <input type="submit" value="Subscribe">
        </form>
      </p>
      <footer>
        <p>
          Posts are from the people listed
          {% if selected_lang_or_framework %}
            <a href="{% url selected_lang_or_framework.code %}">here</a>.
          {% else %}
            <a href="{% url 'index' %}">here</a>.
          {% endif %}
          Check out the <a href="{% url "faq" %}">FAQ</a> to learn how to add yourlsef to the list.
        </p>
        <p>The page refreshes once a day at around 02:00 UTC.</p>
        <p>
          Are you looking for ranked posts of your own timeline? Check out our friends @ <a href="https://fediview.com">fediview.com</a>!
        </p>
      </footer>
    </article>
  </main>
{% endblock %}
