{% extends "layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
    <main class="container">
        <article>
            <h1>You have been subscribed 🎉, but...</h1>
            <p>
                ... I have to admit that I have not implemented this feature yet. I'll implement it once I get at least <b>10</b> subscribers, so if you know anyone else who might be interested, please ask them to subscribe as well.
            </p>
            <p>Once the feature is ready, you won't have to re-subscribe. You'll automatically start receiving daily posts.</p>
            <p>Thank you! 🙏</p>
        </article>
    </main>
{% endblock content %}
