main.container {
    padding: 0;
}

.logo img {
    height: 72px;
    margin-top: -6px;
}

.logo {
    letter-spacing: 3px;
}

.logo a {
    color: var(--pico-h1-color);
    text-decoration: none;
}

td {
    min-width: 88px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.small-avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
}

.emojione {
    font-size: inherit;
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
    margin: -.2ex 0.15em .2ex;
    width: 16px;
    height: 16px;
}

.text-center {
    text-align: center;
}

ul.no-bullets li {
    list-style-type: none;
}

img.header {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 245px;
    margin: 0;
    border-radius: var(--pico-border-radius) var(--pico-border-radius) 0 0;
}

.header-img-container {
    margin-top: calc((var(--pico-block-spacing-vertical) * -1));
    margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
    margin-right: calc(var(--pico-block-spacing-horizontal) * -1);

    margin-bottom: 10px;
    padding-bottom: 10px;
}

article.card {
    margin: 40px 0;
    padding: 0;
}

.card footer {
    margin: 0;
    padding: 10px 20px;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.card>a>small {
    color: hsl(205deg, 25%, 23%);
}


.tabs {
    margin-top: calc((var(--pico-block-spacing-vertical) * -0.6));
    margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
    margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
    margin-bottom: 40px;

}

.tabs>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 !important;
    width: 100%;
}

.tabs li {
    cursor: pointer;
    flex: 1 1 0;
    border-bottom: 3px solid var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
}

.tabs li.active {
    border-bottom: 3px solid color(srgb 0.1594 0.666 0.9605);
    background-color: var(--pico-card-sectionning-background-color);
}


.grid-container {
    /**
   * User input values.
   */
    --grid-layout-gap: 20px;
    --grid-column-count: 3;
    --grid-item--min-width: 290px;

    /**
   * Calculated values.
   */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);

    align-items: flex-start
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
