[Unit]
Description=Fedidevs Worker
After=fedidevs.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/anze/projects/fedidevs
ExecStart=/bin/bash -c 'exec /home/anze/projects/fedidevs/.venv/bin/newrelic-admin run-program /home/anze/projects/fedidevs/.venv/bin/python manage.py rundramatiq --processes 1 --threads 2'
Environment="NEW_RELIC_CONFIG_FILE=/home/anze/projects/fedidevs/newrelic.ini"
User=anze

[Install]
WantedBy=fedidevs.service
