[Unit]
Description=Fedidevs
After=postgresql.service
After=nginx.service
After=redis.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/apps/fedidevs
ExecStart=/var/apps/fedidevs/.venv/bin/gunicorn fedidevs.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MANPID
User=anze

[Install]
WantedBy=multi-user.target
