[Unit]
Description=Fedidevs Worker
After=fedidevs.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/anze/projects/fedidevs
Environment="NEW_RELIC_CONFIG_FILE=newrelic.ini"
ExecStart=.venv/bin/newrelic-admin run-program .venv/bin/python manage.py rundramatiq --processes 1 --threads 2
User=anze

[Install]
WantedBy=fedidevs.service
