[Unit]
Description=Fedidevs
After=postgresql.service
After=nginx.service
After=redis.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/apps/fedidevs
ExecStart=/var/apps/fedidevs/.venv/bin/newrelic-admin run-program granian --uds fedidevs.sock --interface wsgi fedidevs.wsgi:application --workers 4 --blocking-threads 4 --backpressure 10 --process-name fedidevs
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MANPID
Environment="NEW_RELIC_CONFIG_FILE=/var/apps/fedidevs/newrelic.ini"
User=anze

[Install]
WantedBy=multi-user.target
