[Unit]
Description=Fedidevs Scheduler
After=fedidevs.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/anze/projects/fedidevs
ExecStart=/home/anze/projects/fedidevs/.venv/bin/newrelic-admin run-program /home/anze/projects/fedidevs/.venv/bin/python manage.py scheduler'
Environment="NEW_RELIC_CONFIG_FILE=/home/anze/projects/fedidevs/newrelic.ini"
User=anze

[Install]
WantedBy=multi-user.target
