[Unit]
Description=Fedidevs Scheduler
After=fedidevs.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/anze/projects/fedidevs/.deploy/run_scheduler.sh

[Install]
WantedBy=multi-user.target
