{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block content %}
    <style>
        /* https://adrianroselli.com/2020/02/s-cards-clickable-regions-etc.html */
        .block-link {
            position: relative;
        }

        .block-link a[href]::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
    <main>
        <article>
            {% if live_conferences %}
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                            🔴 Live Conferences
                            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                                Happening right now! You can join the discussion even if you are not attending!
                            </p>
                        </caption>
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th class="px-6 py-3">
                                    Conference
                                </th>
                                <th class="px-6 py-3">
                                    Location
                                </th>
                                <th class="px-6 py-3">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for conf in live_conferences %}
                                <tr onClick="window.location = '{% url 'conference' conf.slug %}'"
                                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                       {% for language in conf.languages %}
                                                <img src="{% static language.image %}"
                                                     alt="{{ language.code }}"
                                                     class="w-auto h-5 mr-2 inline" />
                                        {% endfor %}
                                        <a href="{% url 'conference' conf.slug %}">{{ conf.name }}</a>
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ conf.location }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ conf.start_date | date:"M j" }} - {{ conf.end_date| date:"j, Y" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if upcoming_conferences %}
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                            Upcoming Conferences
                            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                                Join the discussion and get hyped for the upcoming conferences.
                            </p>
                        </caption>
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th class="px-6 py-3">
                                    Conference
                                </th>
                                <th class="px-6 py-3">
                                    Location
                                </th>
                                <th class="px-6 py-3">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for conf in upcoming_conferences %}
                                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 ">
                                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {% for language in conf.languages %}
                                                <img src="{% static language.image %}"
                                                     alt="{{ language.code }}"
                                                     class="w-auto h-5 mr-2 inline" />
                                        {% endfor %}
                                        <a href="{% url 'conference' conf.slug %}">{{ conf.name }}</a>
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ conf.location }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ conf.start_date | date:"M j" }} - {{ conf.end_date| date:"j, Y" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if past_conferences %}
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                            Past Conferences
                            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                                See an archive of past conferences and all the top posts from each event.
                            </p>
                        </caption>
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>

                                <th class="px-6 py-3">
                                    Conference
                                </th>
                                <th class="px-6 py-3">
                                    Location
                                </th>
                                <th class="px-6 py-3">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for conf in past_conferences %}
                                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 ">

                                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                       {% for language in conf.languages %}
                                                <img src="{% static language.image %}"
                                                     alt="{{ language.code }}"
                                                     class="w-auto h-5 mr-2 inline" />
                                        {% endfor %}
                                        <a href="{% url 'conference' conf.slug %}">{{ conf.name }}</a>
                                    </th>
                                    <td>
                                        {{ conf.location }}
                                    </td>
                                    <td>
                                        {{ conf.start_date | date:"M j" }} - {{ conf.end_date| date:"j, Y" }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 ">
                                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a href="{% url 'dotnetconf' %}">.NET Conf 2023</a>
                                </th>
                                <td>
                                    Virtual
                                </td>
                                <td>
                                    Nov 14 - 16, 2023
                                </td>
                            </tr>
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 ">
                                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a href="{% url 'fwd50' %}">FWD50 2023</a>
                                </th>
                                <td>
                                    Ottawa, Canada
                                </td>
                                <td>
                                    Nov 6 - 8, 2023
                                </td>
                            </tr>
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 ">
                                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a href="{% url 'djangoconus' %}">DjangoCon US 2023</a>
                                </th>
                                <td>
                                    Durham, NC
                                </td>
                                <td>
                                    Oct 16 - 20, 2023
                                </td>
                            </tr>
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 ">
                                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a href="{% url 'djangoconafrica' %}">DjangoCon Africa 2023</a>
                                </th>
                                <td>
                                    Zanzibar, Tanzania
                                </td>
                                <td>
                                    Nov 6 - 11, 2023
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <footer class="prose dark:prose-invert m-6">
                <p>
                    Missing a conference? <a href="mailto:hello@fedidevs.com">Reach out</a> and I'll add it asap.
                </p>
            </footer>
        </article>
    </main>
{% endblock content %}
{% block sidebar %}

        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Programming Language
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4 text-small ">
                {% for language in languages %}
                    <li class="m-1 inline-block">
                        <a href="{% url "conferences" %}{% if selected_lang.code != language.code %}{{ language.code }}{% endif %}?o={{ order }}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800 {% if selected_lang.code == language.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static language.image %}"
                                     alt="{{ language.code }}"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ language.name }} <small class="text-xs">({{ language.count }})</small>
                                </span>
                            </span>
                            {% if selected_lang.code == language.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
                Frameworks, Libraries, and others
                <span class="hidden">{% heroicon_outline 'plus' %}</span>
                <span class="hidden [&>svg]:h-4">{% heroicon_outline 'minus' %}</span>
            </h2>
            <ul class="px-4 -mx-4">
                {% for framework in frameworks %}
                    <li class="m-1 inline-block">
                        <a href="{% url "conferences" %}{% if selected_framework.code != framework.code %}{{ framework.code }}{% endif %}?o={{ order }}"
                           class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800  {% if selected_framework.code == framework.code %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                           role="button">
                            <span class="flex gap-2">
                                <img src="{% static framework.image %}"
                                     alt="{{ framework.code }}"
                                     class="object-contain w-4" />
                                <span class="leading-loose">
                                    {{ framework.name }} <small class="text-xs">({{ framework.count }})</small>
                                </span>
                            </span>
                            {% if selected_framework.code == framework.code %}
                                <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
{% endblock sidebar %}
