{% load static %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            {{ conference_title }}
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                {{ conference_subtitle }}
            </p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="w-20">
                </th>
                <th class="px-6 py-3">
                    Conference
                </th>
                <th class="px-6 py-3">
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            {% for conf in conferences %}
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-600 ">
                    <th>
                        <div class="flex items-center justify-center">
                            {% for language in conf.languages %}
                                <div class="rounded-full bg-gray-100 dark:bg-gray-950 p-2 -mr-4 ">
                                    <img src="{% static language.image %}"
                                         alt="{{ language.code }}"
                                         class="min-w-6 min-h-6 w-6 h-6" />
                                </div>
                            {% endfor %}
                        </div>
                    </th>
                    <th class="px-6 py-4 ">
                        <div class="font-medium text-gray-900  dark:text-white">
                            <a href="{% url 'conference' conf.slug %}">{{ conf.name }}</a>
                        </div>
                        <div>
                            {{ conf.start_date | date:"M j" }} - {{ conf.end_date| date:"j, Y" }}
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        {{ conf.location }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
