{% extends "v2/layout.html" %}
{% load account_extras %}
{% load static %}
{% block head %}
    {% if posts.has_previous %}
        <meta name="robots" content="none">
    {% endif %}
{% endblock head %}
{% block content %}
    <main class="flex justify-center">
        <article>
            <section data-nosnippet class="max-w-3xl">
                {% for conf_post in conf_posts %}
                    {% with post=conf_post.post %}
                        {% include "post.html" %}
                    {% endwith %}
                {% empty %}
                    <p style="text-align:center"
                       class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        No results, create a post with <b>{{ conference.tags }}</b> hashtag on Mastodon and it will show up here!
                    </p>
                {% endfor %}
                <footer class="mt-16 mb-16 text-center">
                    <nav aria-label="Pagination">
                        <ul class="inline-flex h-10 -space-x-px text-base">
                            {% if conf_posts.has_previous %}
                                <li>
                                    <a href="?page={{ conf_posts.previous_page_number }}&q={{ query }}&o={{ order }}"
                                       class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white ms-0 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        Previous
                                    </a>
                                </li>
                            {% endif %}
                            {% if conf_posts %}
                                <li>
                                    <span class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        Page {{ conf_posts.number }} of {{ conf_posts.paginator.num_pages }}
                                    </span>
                                </li>
                            {% endif %}
                            {% if conf_posts.has_next %}
                                <li>
                                    <a href="?page={{ conf_posts.next_page_number }}&q={{ query }}&o={{ order }}"
                                       class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        Next
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </footer>
            </section>
            <footer class="prose dark:prose-invert">
                <p>
                    These results were aggregated by indexing <b>{{ conference.tags }}</b> on <b>{{ conference.instances }}</b>.
                </p>
                <p>
                    If you want your posts or instance removed, please <a href="mailto:hello@fedidevs.com">let me know</a> and I will remove them ASAP.
                </p>
                <p>
                    <a href="https://sboots.ca/2023/10/27/twitter-is-dead-lets-start-live-tweeting-conferences-on-mastodon-instead/">Twitter is dead. Let's start live-tweeting conferences on Mastodon instead.</a>
                </p>
            </footer>
        </article>
    </main>
{% endblock content %}
{% block sidebar %}
    <h1 class="mb-4 text-3xl font-extrabold">
        {{ conference.name }}
    </h1>
    <p class="mt-4 mb-4">
        {{ conference.description | safe }}
    </p>
    <p class="mt-4 mb-4">
        {% if conference.website %}
            Visit <a href="{{ conference.website }}" class="underline">{{ conference.website }}</a> for more info!
        {% endif %}
    </p>
    <p class="mt-4 mb-8">
        {% if conference.mastodon %}
            Follow the <a href="{{ conference.mastodon }}" class="underline">official Mastodon account</a> to be up to date.
        {% endif %}
    </p>
    {% if is_superuser %}
        <a href="{% url 'admin:confs_conference_change' conference.id %}">Edit</a>
    {% endif %}
    <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
        Filter by most active accounts
    </h2>
    <ul class="px-4 -mx-4 mb-8">
        {% for account_count in account_counts %}
            <li class="m-1 inline-block">
                <a href="{% if account_id != account_count.account.id %}{% url 'conference' slug %}?date={{ posts_date|date:"Y-m-d" }}&account={{ account_count.account.id }}&tag={{ selected_tag }}{% else %}{% url 'conference' slug %}?date={{ posts_date|date:"Y-m-d" }}&tag={{ selected_tag }}{% endif %}"
                   role="button"
                   class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800  {% if account_id == account_count.account.id %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center">
                    <img src="{{ account_count.account.avatar }}"
                         alt="{{ account_count.account.login }}"
                         width="50"
                         height="50"
                         class="h-6 w-6 rounded-full mr-1" />
                    <span class="flex gap-1 [&>img]:max-w-4 [&>img]:max-h-4 [&>img]:mt-1">{% render_emojis account_count.account.name account_count.account.emojis %} ({{ account_count.count }})</span>
                    {% if account_id == account_count.account.id %}
                        <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2 class="flex items-center gap-2 pb-2 mb-4 text-sm font-semibold align-middle border-b">
        Filter by conference day
    </h2>
    <ul class="px-4 -mx-4 mb-8">
        {% for date in dates %}
            <li class="m-1 inline-block">
                <a href="{% if posts_date == date.value %}{% url 'conference' slug %}?order={{ order }}&account={{ account_id }}{% else %}{% url 'conference' slug %}?date={{ date.value | date:"Y-m-d" }}&order={{ order }}&account={{ account_id }}{% endif %}"
                   class="flex text-sm gap-2 py-1 px-2 -ml-2 rounded-md hover:bg-white dark:hover:bg-gray-800  {% if posts_date == date.value %}bg-white shadow-sm dark:bg-gray-800{% endif %} justify-between items-center"
                   role="button">{{ date.pre_display }} ({{ date.count }})
                    {% if posts_date == date.value %}
                        <span class="[&>svg]:h-4">{% heroicon_outline 'x-mark' %}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2 class="flex items-center gap-2 pb-2 mb-2 text-sm font-semibold align-middle border-b">
        Order by
    </h2>
    <ul class="mb-8">
        <li>
            <a href="{% url 'conference' slug %}?date={{ posts_date|date:"Y-m-d" }}&account={{ account_id }}&tag={{ selected_tag }}&order=-favourites_count"
               {% if order == "-favourites_count" %}class="font-bold"{% endif %}>Number of Favourites</a>
        </li>
        <li>
            <a href="{% url 'conference' slug %}?date={{ posts_date|date:"Y-m-d" }}&account={{ account_id }}&tag={{ selected_tag }}&order=-reblogs_count"
               {% if order == "-reblogs_count" %}class="font-bold"{% endif %}>Number of Boosts</a>
        </li>
        <li>
            <a href="{% url 'conference' slug %}?date={{ posts_date|date:"Y-m-d" }}&account={{ account_id }}&tag={{ selected_tag }}&order=-replies_count"
               {% if order == "-replies_count" %}class="font-bold"{% endif %}>Number of Replies</a>
        </li>
        <li>
            <a href="{% url 'conference' slug %}?date={{ posts_date|date:"Y-m-d" }}&account={{ account_id }}&tag={{ selected_tag }}&order=-created_at"
               {% if order == "-created_at" %}class="font-bold"{% endif %}>Created Date</a>
        </li>
    </ul>
{% endblock sidebar %}
