{% extends "layout.html" %}
{% load account_extras %}
{% load static %}
{% block head %}
    {% if posts.has_previous %}<meta name="robots" content="none">{% endif %}
{% endblock head %}
{% block content %}
    <main class="container">
        <article>
            <header style="padding-bottom: 0;">
                <nav class="tabs">
                    <ul>
                        <li onclick="window.location.href='{% url 'index' %}'">Developers</li>
                        <li onclick="window.location.href='{% url 'posts' %}'">Posts</li>
                        <li class="active">Conferences</li>
                    </ul>
                </nav>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Conference</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                {% for conf in conferences %}
                    <tr>
                        <td>
                            {% comment %} <a href="{% url 'conference' conf.slug %}">{{ conf.name }}</a> {% endcomment %}
                        </td>
                        <td>{{ conf.location }}</td>
                        <td>{{ conf.start_date | date:"M j" }} - {{ conf.end_date| date:"j, Y" }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a href="{% url 'dotnetconf' %}">.NET Conf 2023</a>
                    </td>
                    <td>Virtual</td>
                    <td>Nov 14 - 16, 2023</td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'fwd50' %}">FWD50 2023</a>
                    </td>
                    <td>Ottawa, Canada</td>
                    <td>Nov 6 - 8, 2023</td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'djangoconus' %}">DjangoCon US 2023</a>
                    </td>
                    <td>Durham, NC</td>
                    <td>Oct 16 - 20, 2023</td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'djangoconafrica' %}">DjangoCon Africa 2023</a>
                    </td>
                    <td>Zanzibar, Tanzania</td>
                    <td>Nov 6 - 11, 2023</td>
                </tr>
            </table>
            <footer>
                <p>
                    <small>Missing a conference? <a href="mailto:hello@fedidevs.com">Let me know</a> and I'll add it asap.</small>
                </p>
            </footer>
        </article>
    </main>
{% endblock content %}
