<div class="inline-flex rounded-md shadow-sm" role="group">
    <button id="orderByDropdown"
            data-dropdown-toggle="orderByMenu"
            class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            type="button">
        Order by:
        {% include "legacy_order_label.html" %}
        <svg class="w-2.5 h-2.5 ms-2.5"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
        </svg>
    </button>
    <div id="orderByMenu"
         class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
        <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="orderByDropdown">
            <li>
                <a href="{% querystring order='-favourites_count' page=None %}"
                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Favorites</a>
            </li>
            <li>
                <a href="{% querystring order='-reblogs_count' page=None %}"
                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Boosts</a>
            </li>
            <li>
                <a href="{% querystring order='-replies_count' page=None %}"
                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Replies</a>
            </li>
            <li>
                <a href="{% querystring order='-created_at' page=None %}"
                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Created Date</a>
            </li>
        </ul>
    </div>
</div>
