name: Upgrade dependencies

on:
  schedule:
  - cron: "0 6 1 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: "latest"
    - name: Upgrade dependencies
      run: |
        printf "### Upgraded dependencies\n\n\`\`\`\n" > update.log
        uv lock --upgrade 2>&1 | tee -a update.log
        printf "\`\`\`" >> update.log
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        token: ${{ secrets.PAT }}
        commit-message: Upgrade dependencies
        branch: bot/upgrade-dependencies
        delete-branch: true
        title: 'Upgrade dependencies'
        body-path: update.log
