name: Upgrade dependencies

on:
  schedule:
  - cron: "0 6 1 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: "latest"
    - name: Upgrade dependencies
      run: |
        printf "### Upgraded dependencies\n\n\`\`\`\n" > update.log
        uv lock --upgrade 2>&1 | tee -a update.log
        printf "\`\`\`" >> update.log
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ secrets.PAT }}
        commit-message: Upgrade dependencies
        branch: bot/upgrade-dependencies
        delete-branch: true
        title: 'Upgrade dependencies'
        body-path: update.log
